@main(null, null, "admin") {



<div class="panel-group" id="accordion">
	<div class="container">

	</div> <!--   col und alles von der ersten studie--> 
	<div class="col-sm-6 col-xs-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="panel-heading">
					<h4 class="panel-title">Benutzer</h4>
			</div>
		</div>
		<div id="collapseTwo" class="panel-collapse collapse in">
			<div class="panel-body">
				<div class="row">

				</div>

				<!-- START TERMINE -->

				<div class="row">
					<div class="col-sm-12 col-xs-12">
					<p>Benutzer Insgesammt: 400</p>
					<p>Männer: 200 | Frauen: 200</p>
					<p>Versuchsleiter: 30</p>
					<p>Administratoren: 1</p>
					<p>Studenten: 350 | Externe: 50</p>
					<p>Studiengänge: <br />MCS: 300 | MK: 40 | Sonstige: 10</p>
					<p>Benutzer > 25VPS: 75 (link liste)</p>
					</div>


				</div>
			</div> <!-- erster datenblock --> 
		</div>
	</div>
</div>





<div class="col-sm-6 col-xs-12">
	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="panel-heading">
			<h4 class="panel-title">Multitasking I</h4>
		</div>
	</div>
	<div id="collapseTwo" class="panel-collapse collapse in">
		<div class="panel-body">
			<div class="row">

			</div>

			<!-- START TERMINE -->

			<div class="row">
				<div class="col-sm-12 col-xs-12">
				<p>Anzahl Studien: 100</p>
				<p>Anzahl Abgeschlossene Studien: 80</p>
				<p>Anzahl Sessions Insgesammt: 700</p>
				<p>% Nichterschienen</p>
				<p>nach monat</p>
				<p>Insg. Vergebene VPS: 5000</p>
				<p>nach monat</p>
				<p></p>
				</div>

			</div>
			<!-- START TERMINE -->


		</div> <!-- erster datenblock --> 
	</div>
</div>
</div>
</div>
</div>


Hier Statistik

Probandensystem

So und so viele nutzer 

Sessions

Studien

Und was es noch so gibt, im orginalen system nachschauen
}