@(buildings: List[Building])

@scripts = {

    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>

    <script type="text/javascript">
      
    $(document).ready(function(){
    
    	var buildingName;
    	var buildingDesc;
    	var buildingLat;
    	var buildingLng;
    	
    	
    	
        var markersArray = [];
        var ZFM = new google.maps.LatLng(49.782264, 9.974931);
        
        $('#myMapModal').on('shown.bs.modal', function() {
            resizeShit();
            });
        
        function resizeShit(){  
            var center = map.getCenter();
            google.maps.event.trigger(map, "resize");
            
            /** vorher: "center"*/
            
            
            
            map.setCenter(ZFM); 
            
        }
        
   
        
        /** autocomplete stuff*/
        var mapOptions = {
                
                /** Startwert ist hier das Zentrum für Mediendidaktik (ZFM) der Uni Würzburg*/
                center: new google.maps.LatLng(49.782264, 9.974931),
                zoom: 13
              };
        
        
              var map = new google.maps.Map(document.getElementById('map-canvas'),mapOptions);
              placeMarker(ZFM);
              /** in dem Fall lat + lng =  null!!! */
              

              var input = (document.getElementById('pac-input'));
                
              
              
                /** bindet die autocomplete vorschläge an die Bounds der vorher gesuchten Eingabe!
                
                Wichtig, damit nicht zentren in anderen Städten, sondern immer die die lokal 
                am nächsten sind, zuerst angezeigt werden.
                
                */
              var autocomplete = new google.maps.places.Autocomplete(input);
              autocomplete.bindTo('bounds', map);

              
              
              
              var infowindow = new google.maps.InfoWindow();
              var marker = new google.maps.Marker({
                map: map,
                anchorPoint: new google.maps.Point(0, -29)
              });

              google.maps.event.addListener(autocomplete, 'place_changed', function() {
                infowindow.close();
                marker.setVisible(false);
                var place = autocomplete.getPlace();
                if (!place.geometry) {
                  return;
                }

                // If the place has a geometry, then present it on a map.
                if (place.geometry.viewport) {
                  map.fitBounds(place.geometry.viewport);
                } else {
                  placeMarker(place.geometry.location)  
                  map.setCenter(place.geometry.location);
                  map.setZoom(17);  // Why 17? Because it looks good.
                }
                marker.setIcon(/** */({
                  url: place.icon,
                  size: new google.maps.Size(71, 71),
                  origin: new google.maps.Point(0, 0),
                  anchor: new google.maps.Point(17, 34),
                  scaledSize: new google.maps.Size(35, 35)
                }));
                marker.setPosition(place.geometry.location);
                
                /** wenn der Admin vergisst einen genaueren Marker einzugeben,
                wird immer die adresse genommen, die er eingetippt hat*/
                document.getElementById("latFld").value = place.geometry.location.lat();
                document.getElementById("lngFld").value = place.geometry.location.lng();

              
                marker.setVisible(true);

                var address = '';
                if (place.address_components) {
                  address = [
                    (place.address_components[0] && place.address_components[0].short_name || ''),
                    (place.address_components[1] && place.address_components[1].short_name || ''),
                    (place.address_components[2] && place.address_components[2].short_name || '')
                  ].join(' ');
                }

                infowindow.setContent('<div><strong>' + place.name + '</strong><br>' + address);
                infowindow.open(map, marker);
              });
 
             
        
              
              
            // add a click event handler to the map object
                google.maps.event.addListener(map, "click", function(event)
                {
                    // place a marker
                    placeMarker(event.latLng);

                    // display the lat/lng in your form's lat/lng fields
                    document.getElementById("latFld").value = event.latLng.lat();
                    document.getElementById("lngFld").value = event.latLng.lng();
                    
                    
                });
                
                function placeMarker(location) {
                    // first remove all markers if there are any
                    deleteOverlays();

                    var marker = new google.maps.Marker({
                        position: location, 
                        map: map
                    });

                    // add marker in markers array
                    markersArray.push(marker);

                    // map.setCenter(location);
                }

                // Deletes all markers in the array by removing references to them
                function deleteOverlays() {
                    if (markersArray) {
                        for (i in markersArray) {
                            markersArray[i].setMap(null);
                        }
                    markersArray.length = 0;
                    }
                }
  
                
                
                $('.editableBuilding').click(function(e) {
                	   e.preventDefault();
                	   var statusCode = $(this).data('status');
                	   
                	   var felder = statusCode.split(',', 4);
                	   
                	   buildingName = felder[0];
                	   buildingDesc = felder[1];
                	   buildingLat =  felder[2];
                	   buildingLng =  felder[3];

                	   
                	   var placeOfEditableBuilding = new google.maps.LatLng(buildingLat, buildingLng);
                	   
                	   placeMarker(placeOfEditableBuilding);
                	   
                	   
                	 });
                
                
    });  
    
    
   
    
    
    </script>

    

}



@main(null,scripts, "admin") {





<div class="page-header">
<h3>Labore <span class="label label-default">16</span>      
            <button data-toggle="modal" data-target="#myMapModal" class="btn btn-default loc pull-right" ><span class="glyphicon glyphicon-plus"></span> Gebäude</button>
        </h3>    </div>
	
	
	@for(building<-buildings){

<!--  
<h1>  buildings.name</h1>
<h2>  buildings.description</h2>
<hr>
-->

<div class="row myStudies_ListView">
			<div class="col-sm-8 col-xs-6"><h4>@building.name</h4></div>
			<div class="col-sm-4 col-xs-6 text-right">
			<button class="btn btn-default" id="add" data-toggle="modal" data-target="#myRoomModal"><span class="glyphicon glyphicon-plus"></span> Raum</button>
			<button data-status="@building.name, @building.description, @building.lat, @building.lng," class="btn btn-default editableBuilding" id="add" data-toggle="modal" data-target="#myMapModal"> <span class="glyphicon glyphicon-pencil"></span></button>
      <button class="btn btn-danger" id="add"> <span class="glyphicon glyphicon-remove"></span></button>
      </div>
			
			</div>

}
	
	<!--  DUMMY CONTENT----------------------------------------------------------

	<div class="row myStudies_ListView">
			<div class="col-sm-8 col-xs-6"><h4>Gebäude 82</h4></div>
			<div class="col-sm-4 col-xs-6 text-right">
			<button class="btn btn-default" id="add" data-toggle="modal" data-target="#myRoomModal"><span class="glyphicon glyphicon-plus"></span> Raum</button>
			<button class="btn btn-default" id="add" data-toggle="modal" data-target="#myMapModal"> <span class="glyphicon glyphicon-pencil"></span></button>
      <button class="btn btn-danger" id="add"> <span class="glyphicon glyphicon-remove"></span></button>
      </div>
			
			</div>
			
			
		
		<div>
		<hr>
			   <div class="row">
      <div class="col-sm-3 col-xs-6"><b>Raum 00.100</b></div>
      <div class="col-sm-2 col-xs-7 col-sm-offset-7 text-right"> 
<button class="btn  btn-sm btn-default"><span class="glyphicon glyphicon-pencil" data-toggle="modal" data-target="#myRoomModal"></span><button class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-remove"></span></button></a>
      </div> 
      </div>

		   <div class="row">
      <div class="col-sm-3 col-xs-6"><b>Raum 00.100</b></div>
      <div class="col-sm-2 col-xs-7 col-sm-offset-7 text-right"> 
<button class="btn  btn-sm btn-default"><span class="glyphicon glyphicon-pencil" data-toggle="modal" data-target="#myRoomModal"></span><button class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-remove"></span></button></a>
      </div> 
      </div>

   <div class="row">
      <div class="col-sm-3 col-xs-6"><b>Raum 00.100</b></div>
      <div class="col-sm-2 col-xs-7 col-sm-offset-7 text-right"> 
<button class="btn  btn-sm btn-default"><span class="glyphicon glyphicon-pencil" data-toggle="modal" data-target="#myRoomModal"></span><button class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-remove"></span></button></a>
      </div> 
      </div>
</div>

<div class="row myStudies_ListView">
      <div class="col-sm-8 col-xs-6"><h4>Zentrum für Mediendidaktik</h4></div>
      <div class="col-sm-4 col-xs-6 text-right">
      <button class="btn btn-default" id="add" data-toggle="modal" data-target="#myRoomModal"><span class="glyphicon glyphicon-plus"></span> Raum</button>
      <button class="btn btn-default" id="add" data-toggle="modal" data-target="#myMapModal"> <span class="glyphicon glyphicon-pencil"></span></button>
      <button class="btn btn-danger" id="add"> <span class="glyphicon glyphicon-remove"></span></button>
      </div>
      
      </div>
      
      
    
    <div>
    <hr>
        <div class="row">
      <div class="col-sm-3 col-xs-6"><b>Raum 00.100</b></div>
      <div class="col-sm-2 col-xs-7 col-sm-offset-7 text-right"> 
<button class="btn  btn-sm btn-default"><span class="glyphicon glyphicon-pencil" data-toggle="modal" data-target="#myRoomModal"></span><button class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-remove"></span></button></a>
      </div> 
      </div>

       <div class="row">
      <div class="col-sm-3 col-xs-6"><b>Raum 00.100</b></div>
      <div class="col-sm-2 col-xs-7 col-sm-offset-7 text-right"> 
<button class="btn  btn-sm btn-default"><span class="glyphicon glyphicon-pencil" data-toggle="modal" data-target="#myRoomModal"></span><button class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-remove"></span></button></a>
      </div> 
      </div>

        <div class="row">
      <div class="col-sm-3 col-xs-6"><b>Raum 00.100</b></div>
      <div class="col-sm-2 col-xs-7 col-sm-offset-7 text-right"> 
<button class="btn  btn-sm btn-default"><span class="glyphicon glyphicon-pencil" data-toggle="modal" data-target="#myRoomModal"></span><button class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-remove"></span></button></a>
      </div> 
      </div>
</div>
	
	
	
	---------------------------------------------       DUMMY CONTENT-->
	
		
<!-- Ende container -->




<!-- Beginn Map-Modal -->

<form action="@routes.Admin.save()" method="POST">
<div class="modal fade" id="myMapModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            	<h4 class="modal-title">Gebäude</h4>
                 </div>
                 <div class="modal-body">
                 <div class="row">
            					<div class="col-sm-3">
                        <b>Bezeichnung</b>
                      </div>
                      <div class="col-sm-6">
            						<input class="form-control"  id="buildingName" name="buildingName" type="text" placeholder="z.B. GameBox"/>
                      </div>
            					</div>
            

					<div class="row">
            					<div class="col-sm-3">
            					<b>Ort</b>
                    </div>
                      <div class="col-sm-6">                    
            						<input id="pac-input" name="pac-input" class="form-control" type="text"
						        placeholder="z.B. Zentrum für Mediendidaktik"/>
            					</div>
            
            			</div> 
            			
            					<b>Setzen Sie einen Marker auf der Karte.</b>
            

  
                <div class="container">
                    <div class="row">
                                 
						 
						    <div id="map-canvas"></div>
     					
                    </div>
                </div>
            </div>
            <div class="modal-footer">

			<!-- Verstecktes Feld für LAT -->
			            <input name="latFld" id="latFld"/>
			<!-- Verstecktes Feld für LNG -->            
  						<input name="lngFld" id="lngFld"/>
			            
			           <!-- ÜBERGIBT DIE DATEN AN DEN SERVER --> 
			          <button id="newBuildingSubmit" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span> Speichern</button>	 	
			</div>
        </div>
    </div>
    </div>
    
    </form> 
    
    <!-- SCHLIEßt MODAL OHNE DATEN ZU VERSCHLUCKEN, wie es data-dismiss tut -->
           		 	<script>
           		 	$(document).ready(function(){
           		 			$('#newBuildingSubmit').click(function(){
           		 				/** on click wird das modal versteckt und
           		 				der User bekommt wieder die neugeladene lab Seite zu sehen*/
           		 				$('#myMapModal').modal('hide');
           		 			});
           		 	});
           		 	</script>
    
    
    
    <!-- Raumbeschreibungs-modal -->
    <div class="modal fade" id="myRoomModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h4 class="modal-title">Raum</h4>
            	</div>
   <div class="modal-body">
                 
                 <div class="row">
            					<div class="col-sm-3">
            					<b>Bezeichnung</b>
                    </div>
                    <div class="col-sm-9">
            						<input class="form-control" type="text" placeholder="z.B. Raum 00.105"/>
            					</div>
            
            			</div>  

					<div class="row">
            					<div class="col-sm-3">
            					<b>Beschreibung</b>
                      </div>
                    <div class="col-sm-9">
            						<textarea class="form-control field span12" id="textarea" cols="55" rows="15" placeholder="z.B. Der Raum 00.1XX befindet sich im oberen Stockwerk."></textarea>
						        	
            					</div>
            
            			</div> 
            			
            	

  
                
            </div>
            <div class="modal-footer">
            <form action="@routes.Admin.save()" method="POST">
                <button type="submit" class="btn btn-primary" data-dismiss="modal"><span class="glyphicon glyphicon-ok"></span> Speichern</button>
           	</form>
           		
			</div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

<script type="text/javascript">
$('.btn-danger.btn-sm').click(function () {
  if(confirm("Raum wirklich löschen?"))
  $(this).parent().parent().fadeOut()
})
$('.btn-danger').not($('.btn-sm')).click(function () {
  if(confirm("Gebäude wirklich löschen?"))
  $(this).parent().parent().fadeOut().next().fadeOut()
})
</script>

}