@(buildings: List[Building],rooms: List[Room], amount: Int)

@scripts = {

    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>

    <script type="text/javascript">
      
    $(document).ready(function(){
    
    	var buildingId;
    	var buildingName;
    	var buildingDesc;
    	var buildingLat;
    	var buildingLng;
    	
    	var mapE;
    	var placeOfEditableBuilding;
    	var markerE;
    	
    	
        var markersArray = [];
        var markersArrayE = [];
        
        /** DELETE ROOM/BUILDING VARIABLES */
        var reference;
        var idOfBuild;
 	    var nameOfBuild;
 	    var idOfRoom;
  	    var nameOfRoom;
  	    var descOfRoom;
        
        /** NEW BUILDING */
        /** RESIZED DIE KARTE, SETZT CENTER DER MAP AUF ZFM DES LEHRSTUHLS MCM - UNI WÜRZBURG*/
        var ZFM = new google.maps.LatLng(49.782264, 9.974931);
        $('#newBuildingModal').on('shown.bs.modal', function() {
        	/** erst resizen und dann Zentrum setzen, sonst verschiebt sich alles -.-   */
        	google.maps.event.trigger(map, 'resize');
            map.setCenter(ZFM);	
            placeMarker(ZFM);
          });
        /** -----------------------------------------------*/
   
        $('#editBuildingModal').on('shown.bs.modal', function() {
             		   /** CENTERS MAP ON DATABASE COORDINATES */
             		   google.maps.event.trigger(mapE, 'resize');
             		   mapE.setCenter(placeOfEditableBuilding);
             		   placeMarkerE(placeOfEditableBuilding)
          });
        
        
        
        var mapOptions = {
                /** Startwert ist hier das Zentrum für Mediendidaktik (ZFM) der Uni Würzburg*/
        		zoom: 17,
                center: ZFM,
                mapTypeId: google.maps.MapTypeId.ROADMAP
              };
        
        
              var map = new google.maps.Map(document.getElementById('map-canvas'),mapOptions);
              

              var input = (document.getElementById('pac-input'));
                
                /** bindet die autocomplete vorschläge an die Bounds der vorher gesuchten Eingabe!
                Wichtig, damit nicht zentren in anderen Städten, sondern immer die die lokal 
                am nächsten sind, zuerst angezeigt werden.  
                */
              var autocomplete = new google.maps.places.Autocomplete(input);
              autocomplete.bindTo('bounds', map);

              
              var infowindow = new google.maps.InfoWindow();
              var marker = new google.maps.Marker({
                map: map,
               anchorPoint: new google.maps.Point(0, -29)
              });

              google.maps.event.addListener(autocomplete, 'place_changed', function() {
                infowindow.close();
                marker.setVisible(false);
                
                /** EDITBUILDING MARKER */
              /**  markerE.setVisible(false); */
                
                var place = autocomplete.getPlace();
                if (!place.geometry) {
                  return;
                }

                // If the place has a geometry, then present it on a map.
                if (place.geometry.viewport) {
                  /*map.fitBounds(place.geometry.viewport);*/
                } else {
                  placeMarker(place.geometry.location)  
                  map.setCenter(place.geometry.location);
                  map.setZoom(17);  // Why 17? Because it looks good.
                }
                marker.setIcon(/** */({
                  url: place.icon,
                  size: new google.maps.Size(71, 71),
                  origin: new google.maps.Point(0, 0),
                  anchor: new google.maps.Point(17, 34),
                  scaledSize: new google.maps.Size(35, 35)
                }));
                marker.setPosition(place.geometry.location);
                
                /** wenn der Admin vergisst einen genaueren Marker einzugeben,
                wird immer die adresse genommen, die er eingetippt hat*/
                document.getElementById("latFld").value = place.geometry.location.lat();
                document.getElementById("lngFld").value = place.geometry.location.lng();

              
                marker.setVisible(true);

                var address = '';
                if (place.address_components) {
                  address = [
                    (place.address_components[0] && place.address_components[0].short_name || ''),
                    (place.address_components[1] && place.address_components[1].short_name || ''),
                    (place.address_components[2] && place.address_components[2].short_name || '')
                  ].join(' ');
                }

                infowindow.setContent('<div><strong>' + place.name + '</strong><br>' + address);
                infowindow.open(map, marker);
              });
 
              
            // add a click event handler to the map object
                google.maps.event.addListener(map, "click", function(event)
                {
                    // place a marker
                    placeMarker(event.latLng);

                    // display the lat/lng in your form's lat/lng fields
                    document.getElementById("latFld").value = event.latLng.lat();
                    document.getElementById("lngFld").value = event.latLng.lng();
                });
            
            
            
                /** NEW BUILDING MARKER */
                function placeMarker(location) {
                    // first remove all markers if there are any
                    deleteOverlays();

                    var marker = new google.maps.Marker({
                        position: location, 
                        map: map
                    });

                    // add marker in markers array
                    markersArray.push(marker);

                    // map.setCenter(location);
                }
                
                /** EDIT BUILDING MARKER */
                function placeMarkerE(location) {
                    // first remove all markers if there are any
                    deleteOverlaysE();

                    var markerE = new google.maps.Marker({
                        position: location, 
                        map: mapE
                    });

                    // add marker in markers array
                    markersArrayE.push(markerE);

                    // map.setCenter(location);
                }
                

                // Deletes all markers in the array by removing references to them
                function deleteOverlays() {
                    if (markersArray) {
                        for (i in markersArray) {
                            markersArray[i].setMap(null);
                        }
                    markersArray.length = 0;
                    }
                }
  
             // Deletes all markers in the array by removing references to them
                function deleteOverlaysE() {
                    if (markersArrayE) {
                        for (i in markersArrayE) {
                            markersArrayE[i].setMap(null);
                        }
                    markersArrayE.length = 0;
                    }
                }
                
                
                /** EDIT BUILDING --> SHOWS COORDINATES FROM DATABASE*/
                $('.editableBuilding').click(function(e) {
                	   e.preventDefault();
                	   var statusCode = $(this).data('status');	
					   var felder = statusCode.split(';', 5);
	                	
					   reference = $(this);
					   
					   	   buildingId  = felder[0];
	                	   buildingName = felder[1];
	                	   buildingDesc = felder[2];
	                	   buildingLat =  felder[3];
	                	   buildingLng =  felder[4];
	                	   
	                	  $('.buildingNameEdit').val(buildingName);
	                 	  $('.pac-inputEdit').val(buildingDesc);
	                 	  $('.editId').val(buildingId);
	                 	  $('.latFldEdit').val(buildingLat);
	                 	  $('.lngFldEdit').val(buildingLng);
	                	   
                	   var mapOptionsE = {
                			      zoom: 17,
                			      mapTypeId: google.maps.MapTypeId.ROADMAP,
                			      center: new google.maps.LatLng(buildingLat, buildingLng)
                			    };
                	   
                	   mapE = new google.maps.Map(document.getElementById("map_canvas"), mapOptionsE);
                	   

                    placeOfEditableBuilding =   new google.maps.LatLng(buildingLat, buildingLng);
                    // add marker in markers array
                    
                    placeMarkerE(placeOfEditableBuilding);
                    google.maps.event.addListener(mapE, "click", function(eventEdit)
                            {
                            	// place a marker
                                placeMarkerE(eventEdit.latLng); 
                                $('.latFldEdit').val(eventEdit.latLng.lat());
      	                 	    $('.lngFldEdit').val(eventEdit.latLng.lng());
                    }); 
              });
               
              $(".editBuildingSubmit").click(function (c){
            	  c.preventDefault();
            	  
            	  var nameShown = ""+$('.buildingNameEdit').val();
            	  
            	  reference.parent().parent().children().eq(0).children().eq(0).text(nameShown);
            	   
            	  var statusChange = reference.data('status',$('.editId').val()+";"+$('.buildingNameEdit').val()+";"+$('.pac-inputEdit').val()+";"+$('.latFldEdit').val()+";"+$('.lngFldEdit').val()+";"  );	
				  
            	  
            	  $.ajax({
        		        type : 'POST',
        		        url : '@routes.Admin.saveEditBuilding()',
        		        data : {
        		            id: $('.editId').val(), name: $('.buildingNameEdit').val(), desc : $('.pac-inputEdit').val(), lat : $('.latFldEdit').val(), lng : $('.lngFldEdit').val()
        		        },
        		        success : function(data) {
        		          alert(data);
        		          
        		        },
            		     error : function(err) {
      	                
      	                alert(err.responseText); 
      	            	}
            		    });
              	 }); 
              
                
                
                
                
                
                /**------------------------------------------------------- */
                
                
                 $('.removableBuilding').click(function(w) {
                	   w.preventDefault();
                	   var statusCode = $(this).data('status');	
                	   
                	   reference = $(this);
                	   
                	   var felder = statusCode.split(';', 2);
                	   
				   	   idOfBuild  = felder[0];
                	   nameOfBuild = felder[1];
                	  
                	   
                	   $( ".nameToDelete" ).html(nameOfBuild);
                	   
                 });
                
                 $(".deleteBuildingConfirm").click(function(q){
          		   $('.confirmDelete').modal('hide');
          		   
          		   $.ajax({
         		        type : 'POST',
         		        url : '@routes.Admin.deleteBuilding()',
         		        data : {
         		            id: idOfBuild, name: nameOfBuild
         		        },
         		        success : function(data) {
         		            alert(data);
         		            
         		         /** Wenn ein gebäude kein Raum enthält würde es ohne die if-Abfrage
                    	  sonst das nächste Gebäude mitlöschen ! */
                    	  if( $( ".amountRooms" ).html() == "")
                    		  reference.parent().parent().fadeOut();
                    	  else
                    		  reference.parent().parent().fadeOut().next().fadeOut();
         		      
         		        },
             		     error : function(err) {
       	                
       	                alert(err.responseText); 
       	            }
             		    });
          	});
                
                
                /** REMOVE Room */
                 $('.removableRoom').click(function(w) {
              	   w.preventDefault();
              	   
              	   var statusCode = $(this).data('status');	
              	   reference = $(this);
              	   var felder = statusCode.split(';', 2);
              	   
				   idOfRoom  = felder[0];
              	   nameOfRoom = felder[1];
              	  
              	   $( ".roomNameToDelete" ).html(nameOfRoom);
              	 
         });    
                
                 $(".deleteRoomConfirm").click(function(q){
            		   $('.confirmRoomDelete').modal('hide');
            		   
            		 $.ajax({
          		        type : 'POST',
          		        url : '@routes.Admin.deleteRoom()',
          		        data : {
          		            id: idOfRoom, name: nameOfRoom
          		        },
          		        success : function(data) {
          		          alert(data);
          		          
          		          var infoDelete = reference.parent().parent();
          		          infoDelete.hide();
          		          /**
          		          infoDelete.html("<div class='row'> <div class='col-sm-11 col-xs-11 bg-success' > gelöscht</div></div>");
          		          
          		          */
          		        },
              		     error : function(err) {
        	                
        	                alert(err.responseText); 
        	            	}
        	            	
              		    });
                	 });
                 
                 
                 
                
                 /** Übergibt die Building id an einen <input> Tag */
                $(document).on('click','.addNewRoom',function(wee) { 
                	wee.preventDefault();
              	    reference = $(this);
              	    
              	    var statusCode = $(this).data('status');
              	    
              	    $('.roomName').val("");
              	    $('.roomDescription').val("");
              	    $('.building_id').val(statusCode);
              	
                });
                 
                $(document).on('click','.newRoomSubmit',function(){
                	
                	if($.trim($('.roomName').val()) != "" && $.trim($('.roomDescription').val()) != "" && $.trim($('.building_id').val()) != ""   ){
                		$('#myRoomModal').modal('hide');
	 				
	 				$.ajax({
          		        type : 'POST',
          		        url : '@routes.Admin.saveNewRoom()',
          		        data : {
          		            roomName: $('.roomName').val(), roomDescription: $('.roomDescription').val(), building_id : $('.building_id').val()
          		        },
          		        success : function(data) {
          		          
          		         var newReference =  reference.parent().parent().parent().children().eq(1).append(	 
          		   '<div class="row">'+
      '<div class="col-sm-3 col-xs-6"><b>'+$('.roomName').val()+'</b></div>'+
      '<div class="col-sm-2 col-xs-7 col-sm-offset-7 text-right"> '+
'<button class="btn  btn-sm btn-default editableRoom" data-status="'+parseInt(data,10)+';'+$(".roomName").val()+';'+$(".roomDescription").val()+';" data-toggle="modal" data-target="#roomEditModal"><span class="glyphicon glyphicon-pencil"></span></button>'+
'<button class="btn btn-sm btn-danger removableRoom" data-status="'+parseInt(data,10)+';'+$(".roomName").val()+'" data-toggle="modal" data-target="#confirmRoomDelete"><span class="glyphicon glyphicon-remove"></span></button>'+
      '</div>'+ 
      '</div>');
          		          
          		        },
              		     error : function(err) {
        	                
        	                alert(err.responseText); 
        	            	}
              		    });
                	} else {
                		
                		alert("Das Formular wurde nicht vollständig ausgefüllt!");
                		
                	}
	 				
	 			});
                 
                 
                 
                 
                 /** Wichtig aufgrund von "event delegation" nach dem html append() durch den ajax request*/
                $(document).on('click','.editableRoom',function(w) {
               	   w.preventDefault();
               	   reference = $(this);
               	   var statusCode = $(this).data('status');	
					
               	   var felder = statusCode.split(';', 3);
               	   
               	   
               	   
               	   $('.roomEdit_id').val(felder[0]);
               	   $('.roomEditName').val(felder[1]);
               	   $('.roomEditDescription').val(felder[2]);
               	   
               	   
                });
                
                $('.editRoomSubmit').click(function(){
	 				$('#roomEditModal').modal('hide');
	 				
	 				$.ajax({
          		        type : 'POST',
          		        url : '@routes.Admin.saveEditRoom()',
          		        data : {
          		            id: $('.roomEdit_id').val(), name: $('.roomEditName').val(), desc: $('.roomEditDescription').val()
          		        },
          		        success : function(data) {
          		          alert(data);
          		          
          		        var statusChange = reference.data('status',$('.roomEdit_id').val()+";"+$('.roomEditName').val()+";"+$('.roomEditDescription').val()+";" );	
      				  
          		        
          		        },
              		     error : function(err) {
        	                
        	                alert(err.responseText); 
        	            	}
        	            	
              		    });
	 				
	 			});
                
                
                google.maps.event.trigger(map, 'resize');
                
    });  
    
    
   
    
    
    </script>

    

}



@main(null,scripts, "admin") {





<div class="page-header">
<h3>Labore <span class="label label-default">@amount</span>      
            <button data-toggle="modal" data-target="#newBuildingModal" class="btn btn-default loc pull-right" ><span class="glyphicon glyphicon-plus"></span> Gebäude</button>
        </h3>    </div>
	
	
	@for(building<-buildings){

<div class="buildingAndItsRooms">
<div class="row myStudies_ListView">
			<div class="col-sm-8 col-xs-6"><h4>@building.name</h4></div>
			<div class="col-sm-4 col-xs-6 text-right">
			<!-- data-target="#myRoomModal" -->
			<button class="btn btn-default addNewRoom"  data-status="@building.id" data-toggle="modal" data-target="#myRoomModal"><span class="glyphicon glyphicon-plus"></span> Raum</button>
			<button data-status="@building.id;@building.name;@building.description;@building.lat;@building.lng;" class="btn btn-default editableBuilding" data-toggle="modal" data-target="#editBuildingModal"> <span class="glyphicon glyphicon-pencil"></span></button>
      <button type="submit" data-status="@building.id;@building.name" data-toggle="modal" data-target="#confirmDelete" class="btn btn-danger removableBuilding" > <span class="glyphicon glyphicon-remove"></span></button>
      
      </div>
			
			</div>

<div class="amountRooms">


<hr>
@for(room <- rooms){

@if(room.building_id == building.id){

			   <div class="row">
      <div class="col-sm-3 col-xs-6"><b>@room.name</b></div>
      <div class="col-sm-2 col-xs-7 col-sm-offset-7 text-right"> 
<button class="btn  btn-sm btn-default editableRoom" data-status="@room.id;@room.name;@room.description;" data-toggle="modal" data-target="#roomEditModal"><span class="glyphicon glyphicon-pencil"></span></button>
<button class="btn btn-sm btn-danger removableRoom" data-status="@room.id;@room.name" data-toggle="modal" data-target="#confirmRoomDelete"><span class="glyphicon glyphicon-remove"></span></button>
      </div> 
      </div>
      
      
       
     
}

}

</div>
</div>      
      

}
	


<!-- NEW BUILDING-Modal -->

<form action="@routes.Admin.save()" method="POST">
<div class="modal fade" id="newBuildingModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            	<h4 class="modal-title">Gebäude</h4>
                 </div>
                 <div class="modal-body">
                 <div class="row">
            					<div class="col-sm-3">
                        <b>Bezeichnung</b>
                      </div>
                      <div class="col-sm-6">
            						<input class="form-control"  id="buildingName" name="buildingName" type="text" placeholder="z.B. GameBox"/>
                      </div>
            					</div>
            

					<div class="row">
            					<div class="col-sm-3">
            					<b>Ort</b>
                    </div>
                      <div class="col-sm-6">                    
            						<input id="pac-input" name="pac-input" class="form-control" type="text"
						        placeholder="z.B. Zentrum für Mediendidaktik"/>
            					</div>
            
            			</div> 
            			
            					<b>Setzen Sie einen Marker auf der Karte.</b>
            

  
                <div class="container">
                    <div class="row">
                                 
						 
						    <div id="map-canvas"></div>
     					
                    </div>
                </div>
            </div>
            <div class="modal-footer">

			<!-- Verstecktes Feld für LAT -->
			            <input name="latFld" id="latFld" style="display:none"/>
			<!-- Verstecktes Feld für LNG -->            
  						<input name="lngFld" id="lngFld" style="display:none"/>
			            
			           <!-- ÜBERGIBT DIE DATEN AN DEN SERVER --> 
			          <button type="submit" id="newBuildingSubmit" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span> Speichern</button>	 	
			</div>
        </div>
    </div>
    </div>
    
    </form> 
    
    <!-- SCHLIEßt MODAL OHNE DATEN ZU VERSCHLUCKEN, wie es data-dismiss tut -->
           		 	<script>
           		 	$(document).ready(function(){
           		 			$('#newBuildingSubmit').click(function(){
           		 				/** on click wird das modal versteckt und
           		 				der User bekommt wieder die neugeladene lab Seite zu sehen*/
           		 				$('#newBuildingModal').modal('hide');
           		 			});
           		 	});
           		 	</script>
           		 	
     
     
     
     
     <!-- Beginn EDIT-BUILDING-Modal -->

<div class="modal fade" id="editBuildingModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            	<h4 class="modal-title">Gebäude</h4>
                 </div>
                 <div class="modal-body">
                 <div class="row">
            					<div class="col-sm-3">
                        <b>Bezeichnung</b>
                      </div>
                      <div class="col-sm-6">
            						<input class="form-control buildingNameEdit"  id="buildingNameEdit" name="buildingNameEdit" type="text" placeholder="z.B. GameBox"/>
                      </div>
            					</div>
            

					<div class="row">
            					<div class="col-sm-3">
            					<b>Ort</b>
                    </div>
                      <div class="col-sm-6">                    
            						<input id="pac-inputEdit" name="pac-inputEdit" class="form-control pac-inputEdit" type="text"
						        placeholder="z.B. Zentrum für Mediendidaktik"/>
            					</div>
            
            			</div> 
            			
            					<b>Setzen Sie einen Marker auf der Karte.</b>
            

  
                <div class="container">
                    <div class="row">
                                 
						 
						    <div id="map_canvas"></div>
     					
                    </div>
                </div>
            </div>
            <div class="modal-footer">

			<!-- Verstecktes Feld für Id -->
			            <input name="editId" id="editId" class="editId" value="" style="display:none"/>
			<!-- Verstecktes Feld für LAT -->
			            <input name="latFldEdit" id="latFldEdit"  class="latFldEdit" style="display:none"/>
			<!-- Verstecktes Feld für LNG -->            
  						<input name="lngFldEdit" id="lngFldEdit"  class="lngFldEdit" style="display:none"/>
			            
			           <!-- ÜBERGIBT DIE DATEN AN DEN SERVER --> 
			          <button type="submit" class="btn btn-primary editBuildingSubmit"><span class="glyphicon glyphicon-ok"></span> Speichern</button>	 	
			</div>
        </div>
    </div>
    </div>


    
    <!-- SCHLIEßt MODAL OHNE DATEN ZU VERSCHLUCKEN, wie es data-dismiss tut -->
           		 	<script>
           		 	$(document).ready(function(){
           		 			$('#editBuildingSubmit').click(function(){
           		 				/** on click wird das modal versteckt und
           		 				der User bekommt wieder die neugeladene lab Seite zu sehen*/
           		 				$('#editBuildingModal').modal('hide');
           		 			});
           		 	});
           		 	</script>      		 	
           		 	
           		 	
           		 	
           		 	
    
    
    
    <!-- Raumbeschreibungs-modal -->
    <div class="modal fade" id="myRoomModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h4 class="modal-title">Raum</h4>
            	</div>
   <div class="modal-body">
                 
                 <div class="row">
            					<div class="col-sm-3">
            					<b>Bezeichnung</b>
                    </div>
                    <div class="col-sm-9">

							  <!--  <div class="form-group has-feedback">
							    <label class="control-label sr-only"></label>-->
							    
							    <input type="text" class="form-control roomName" id="roomName" name="roomName" type="text" placeholder="z.B. Raum 00.105" required />
							 <!--   <i class="form-control-feedback glyphicon glyphicon-user"></i>
							  </div>-->
							
            						
            					</div>
            
            			</div>  

					<div class="row">
            					<div class="col-sm-3">
            					<b>Beschreibung</b>
                      </div>
                    <div class="col-sm-9">
            						<textarea class="form-control field span12 roomDescription" name="roomDescription" id="building_id" cols="55" rows="15" placeholder="z.B. Der Raum 00.1XX befindet sich im oberen Stockwerk." required></textarea>
						        	
						        	
						        	<input class="form-control building_id" id="building_id" name="building_id" type="text" value="" style="display:none;" required/>
						        	
            					</div>
            
            			</div> 
            			
            </div>
            <div class="modal-footer">
                <button type="submit"  class="btn btn-primary newRoomSubmit"><span class="glyphicon glyphicon-ok"></span> Speichern</button>
        
           		
			</div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->






<!-- Raumbeschreibungs-modal -->  
    <div class="modal fade" id="roomEditModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h4 class="modal-title">Raum</h4>
            	</div>
   <div class="modal-body">
                 
                 <div class="row">
            					<div class="col-sm-3">
            					<b>Bezeichnung</b>
                    </div>
                    <div class="col-sm-9">
            						<input class="form-control roomEditName" id="roomEditName" name="roomEditName" type="text" placeholder="z.B. Raum 00.105"/>
            					</div>
            
            			</div>  

					<div class="row">
            					<div class="col-sm-3">
            					<b>Beschreibung</b>
                      </div>
                    <div class="col-sm-9">
            						<textarea class="form-control field span12 roomEditDescription" name="roomEditDescription" id="roomEditDescription" cols="55" rows="15" placeholder="z.B. Der Raum 00.1XX befindet sich im oberen Stockwerk."></textarea>
						        	
						        	
						        	<input class="form-control roomEdit_id" id="roomEdit_id" name="roomEdit_id" type="text" value="" style="display:none;"/>
						        	
            					</div>
            
            			</div> 
            			
            	

  
                
            </div>
            <div class="modal-footer">
                <button type="submit" id="editRoomSubmit" class="btn btn-primary editRoomSubmit"><span class="glyphicon glyphicon-ok"></span> Speichern</button>
        
			</div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->






<!-- Confirm Building Delete Modal -->
<div class="modal fade confirmDelete" id="confirmDelete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                Wollen Sie "<span class="nameToDelete"></span>" wirklich löschen?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button class="btn btn-danger danger deleteBuildingConfirm">Delete</button>
            </div>
        </div>
    </div>
</div>

<!-- Confirm Room Delete Modal -->
<div class="modal fade confirmRoomDelete" id="confirmRoomDelete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                Wollen Sie "<span class="roomNameToDelete"></span>" wirklich löschen?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button class="btn btn-danger danger deleteRoomConfirm">Delete</button>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">

/**$('.btn-danger.btn-sm').click(function () {
  if(confirm("Raum wirklich löschen?"))
  $(this).parent().parent().fadeOut()
})
$('.btn-danger').not($('.btn-sm')).click(function () {
  if(confirm("Gebäude wirklich löschen?"))
  $(this).parent().parent().fadeOut().next().fadeOut()
})*/


</script>

}