@main(null, null, "admin") {

		<h3>Laufende Studien <span class="label label-default">15</span></h3>

		<hr>


		<div class="row">
			<div class="col-sm-3 col-xs-6"><b>Multitasking I</b></div>
			<div class="col-sm-3 col-xs-6">Christoph Felix</div>
			<div class="col-sm-3 col-xs-6">Geb. 82, Raum 1.005</div>
			<div class="col-sm-2 col-xs-6"><a href="/edit" class="btn btn-primary btn-sm" ><span class="glyphicon glyphicon-edit"></span></a> 
				<button class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-remove"></span></button></div>
		</div>
			
				<div class="row">
			<div class="col-sm-3 col-xs-6"><b>Multitasking II</b></div>
			<div class="col-sm-3 col-xs-6">Christoph Sonnenberg</div>
			<div class="col-sm-3 col-xs-6">Geb. 82, Raum 1.005</div>
			<div class="col-sm-2 col-xs-6"><a href="/edit" class="btn btn-primary btn-sm" ><span class="glyphicon glyphicon-edit"></span></a> 
				<button class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-remove"></span></button></div>
		</div>
			
		<div class="row">
			<div class="col-sm-3 col-xs-6"><b>Multitasking III</b></div>
			<div class="col-sm-3 col-xs-6">Christoph Mustermann</div>
			<div class="col-sm-3 col-xs-6">ZFM, Raum 1.005</div>
			<div class="col-sm-2 col-xs-6"><a href="/edit" class="btn btn-primary btn-sm" ><span class="glyphicon glyphicon-edit"></span></a> 
				<button class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-remove"></span></button></div>
		</div>
			

		
		<h3>Abgeschlossene Studien <span class="label label-default">30</span></h3>
				<hr>		

	
		<div class="row">
			<div class="col-sm-3 col-xs-6"><b>Multitasking I</b></div>
			<div class="col-sm-3 col-xs-6">Christoph Felix</div>
			<div class="col-sm-3 col-xs-6">Geb. 82, Raum 1.005</div>
			<div class="col-sm-2 col-xs-6"><a href="/edit" class="btn btn-primary btn-sm" ><span class="glyphicon glyphicon-edit"></span></a> 
				<button class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-remove"></span></button></div>
		</div>
			
				<div class="row">
			<div class="col-sm-3 col-xs-6"><b>Multitasking II</b></div>
			<div class="col-sm-3 col-xs-6">Christoph Sonnenberg</div>
			<div class="col-sm-3 col-xs-6">Geb. 82, Raum 1.005</div>
			<div class="col-sm-2 col-xs-6"><a href="/edit" class="btn btn-primary btn-sm" ><span class="glyphicon glyphicon-edit"></span></a> 
				<button class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-remove"></span></button></div>
		</div>
			
		<div class="row">
			<div class="col-sm-3 col-xs-6"><b>Multitasking III</b></div>
			<div class="col-sm-3 col-xs-6">Christoph Mustermann</div>
			<div class="col-sm-3 col-xs-6">ZFM, Raum 1.005</div>
			<div class="col-sm-2 col-xs-6"><a href="/edit" class="btn btn-primary btn-sm" ><span class="glyphicon glyphicon-edit"></span></a> 
				<button class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-remove"></span></button></div>
		</div>
			

</div>





<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

 <div class="modal-dialog ">
        <div class="modal-content ">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                 <h4 class="modal-title">Benutzer</h4>

            </div>

<div class="row">
			<div class="col-sm-1"></div>
			<div class="col-sm-1"><b>1</b></div>
			<div class="col-sm-6">Benutzer 1, 17.7.12, 13:00</div>
			<div class="col-sm-2">Verbucht</div>
			<div class="col-sm-1"><button class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-remove"></span></button></div>

		</div>

<div class="row">
			<div class="col-sm-1"></div>
			<div class="col-sm-1"><b>2</b></div>
			<div class="col-sm-6">Benutzer 1, 17.7.12, 13:00</div>
			<div class="col-sm-2">Verbucht</div>
			<div class="col-sm-1"><button class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-remove"></span></button></div>

		</div><div class="row">
			<div class="col-sm-1"></div>
			<div class="col-sm-1"><b>3</b></div>
			<div class="col-sm-6">Benutzer 1, 17.7.12, 13:00</div>
			<div class="col-sm-2">Verbucht</div>
			<div class="col-sm-1"><button class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-remove"></span></button></div>

		</div><div class="row">
			<div class="col-sm-1"></div>
			<div class="col-sm-1"><b>4</b></div>
			<div class="col-sm-6">Benutzer 1, 17.7.12, 13:00</div>
			<div class="col-sm-2">Verbucht</div>
			<div class="col-sm-1"><button class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-remove"></span></button></div>

		</div><div class="row">
			<div class="col-sm-1"></div>
			<div class="col-sm-1"><b>5</b></div>
			<div class="col-sm-6">Benutzer 1, 17.7.12, 13:00</div>
			<div class="col-sm-2">Verbucht</div>
			<div class="col-sm-1"><button class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-remove"></span></button></div>

		</div><div class="row">
			<div class="col-sm-1"></div>
			<div class="col-sm-1"><b>6</b></div>
			<div class="col-sm-6">Benutzer 1, 17.7.12, 13:00</div>
			<div class="col-sm-2">Verbucht</div>
			<div class="col-sm-1"><button class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-remove"></span></button></div>

		</div><div class="row">
			<div class="col-sm-1"></div>
			<div class="col-sm-1"><b>7</b></div>
			<div class="col-sm-6">Benutzer 1, 17.7.12, 13:00</div>
			<div class="col-sm-2">Verbucht</div>
			<div class="col-sm-1"><button class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-remove"></span></button></div>

		</div><div class="row">
			<div class="col-sm-1"></div>
			<div class="col-sm-1"><b>8</b></div>
			<div class="col-sm-6">Benutzer 1, 17.7.12, 13:00</div>
			<div class="col-sm-2">Verbucht</div>
			<div class="col-sm-1"><button class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-remove"></span></button></div>

		</div><div class="row">
			<div class="col-sm-1"></div>
			<div class="col-sm-1"><b>9</b></div>
			<div class="col-sm-6">Benutzer 1, 17.7.12, 13:00</div>
			<div class="col-sm-2">Verbucht</div>
			<div class="col-sm-1"><button class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-remove"></span></button></div>

		</div><div class="row">
			<div class="col-sm-1"></div>
			<div class="col-sm-1"><b>10</b></div>
			<div class="col-sm-6">Benutzer 10, 17.7.12, 13:00</div>
			<div class="col-sm-2">Verbucht</div>
			<div class="col-sm-1"><button class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-remove"></span></button></div>

		</div>


            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->	
</div>

}