 @(e: User)
@import java.math.BigInteger; var index=1 
@import java.math.BigInteger; var index2=1 

@main(null, null, "admin") {

<div role="main" class="container main">
	<div class="page-header">
		<h2>User bearbeiten</h2>
	</div>
	<form class="form-horizontal" role="form" action="/allStudies">
		<div class="form-group">
			<label for="name" class="col-sm-3 control-label">Name</label>
			<div class="col-sm-7">
				<input type="text" name="name" class="form-control" id="name" value="Multitasking III" autofocus>
			</div>
		</div>
		<div class="form-group">
			<label for="description" class="col-sm-3 control-label">Beschreibung</label>
			<div class="col-sm-7">
				<textarea class="form-control" name="description" rows="4" id="description" placeholder="Beschreibung der Studie">In diesem Experiment soll die Aufmerksamkeit...</textarea>
			</div>
		</div>
		<div class="form-group">
			<label for="description" class="col-sm-3 control-label">Typ</span></label>
			<div class="col-sm-4">
				<div class="btn-group">
					<label class="btn btn-default">
						<input type="radio" name="options" id="option1" checked>
						Labor </label>
						<label class="btn btn-default">
							<input type="radio" name="options" id="option2">
							Internet </label>
						</div>
			</div>			
			<div class="col-sm-3">
			<button type="button" class="btn btn-default pull-right" id="openPreview" data-toggle="modal" data-target="#myPreviewModal"><span class="glyphicon glyphicon-envelope"></span> Email Vorschau</button>
					</div>	
			</div>		

}