@main(null, null, "admin") {

	<div class="panel-group" id="accordion">
			<div class="row">
				<div class="col-sm-6 ">
					<div class="panel panel-default" \>
						<div class="panel-heading">
							<h4 class="panel-title">Benutzer Suchen</h4>
						</div>

						<div id="collapseOne" class="panel-collapse collapse in">
							<div class="panel-body"> 

								<form class="navbar-form navbar-left" role="search">
        <input type="text" class="form-control" placeholder="">
    <button type="submit" class="btn btn-default">Suchen</button>
</form>

							</div>
					</div>
												</div>

				</div>
				<div class="col-sm-6 ">
					<div class="panel panel-default" \>
						<div class="panel-heading">
							<h4 class="panel-title">Administratoren</h4>
						</div>

						<div id="collapseOne" class="panel-collapse collapse in">
							<div class="panel-body"> 

	<div class="row">
					<div class="col-sm-6 ">Martin Sonnenberg</div>
				<div class="col-sm-3 ">    <button type="submit" class="btn btn-xs btn-default" id="add" data-toggle="modal" data-target="#myModal1">Bearbeiten</button></div>				<div class="col-sm-1 ">    <button type="submit" class="btn btn-xs ">Mail</button></div>

	</div>
	<div class="row">
					<div class="col-sm-6 ">Admin Neuer</div>
				<div class="col-sm-3 ">    <button type="submit" class="btn btn-xs btn-disabled" id="add" data-toggle="modal" data-target="#myModal1">Bearbeiten</button></div>				<div class="col-sm-1 ">    <button type="submit" class="btn btn-xs ">Mail</button></div>


</div>
							</div>
						</div>
					</div>
				</div>
			</div> <!-- row -->
			<div class="row">
				<div class="col-sm-12">
					<div class="panel panel-default" \>
						<div class="panel-heading">
							<h4 class="panel-title">Versuchsleiter</h4>
						</div>

						<div id="collapseOne" class="panel-collapse collapse in">
							<div class="panel-body"> 

<div class="row">
					<div class="col-sm-5">Versuchsleiter Nummer 1</div>
					<div class="col-sm-3"><b>3</b> Studien</div>
					<div class="col-sm-2 ">    <button type="submit" class="btn btn-xs btn-edit id="add" data-toggle="modal" data-target="#myModal1"">Bearbeiten</button></div>
					<div class="col-sm-1 ">    <button type="submit" class="btn btn-xs ">Mail</button></div>

</div>
<hr>
<div class="row">
					<div class="col-sm-4">Versuchsleiter Nummer 1</div>
					<div class="col-sm-3"><b>3</b> Studien</div>
					<div class="col-sm-1 ">    <button type="submit" class="btn btn-xs btn-edit id="add" data-toggle="modal" data-target="#myModal1"">Bearbeiten</button></div>
					<div class="col-sm-1 ">    <button type="submit" class="btn btn-xs ">Mail</button></div>

</div>
<hr>
							</div>
						</div>
					</div>
				</div>
				</div>
				<div class="row">
				<div class="col-sm-12">
					<div class="panel panel-default" \>
						<div class="panel-heading">
							<h4 class="panel-title">Versuchsleiter</h4>
						</div>

						<div id="collapseOne" class="panel-collapse collapse in">
							<div class="panel-body"> 
<div class="row">
					<div class="col-sm-3">Proband Nummer 1</div>
					<div class="col-sm-1"><b>3</b> VPS</div>
					<div class="col-sm-1 ">    <button type="submit" class="btn btn-xs btn-edit id="add" data-toggle="modal" data-target="#myModal1"">Bearbeiten</button></div>
					<div class="col-sm-1 ">    <button type="submit" class="btn btn-xs ">Mail</button></div>

</div>
<hr>
							Alle Benutzer auflisten
							Name, Email, VPS, Alter, Händigkeit, Studiengang, Nutzerklasse

							</div>
						</div>
					</div>
				</div>
			</div><!-- row -->



<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

 <div class="modal-dialog ">
        <div class="modal-content ">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                 <h4 class="modal-title">Labor Hinzufügen:</h4>

            </div>
<p></p>

	<form class="form-horizontal" role="form">
		<div class="form-group">
			<label for="name" class="col-sm-3 control-label">Name</label>
			<div class="col-sm-6">
			    <input type="text" name="name" class="form-control" id="name" value="Gebäudename" autofocus>
			</div>
		</div>
		<div class="form-group">
			<label for="name" class="col-sm-3 control-label">Studienbegin</label>
			<div class="col-sm-6">
			    <input type="text" name="name" class="form-control" id="name" value="Raumname" autofocus>
			</div>
		</div>
		<div class="form-group">
			<label for="name" class="col-sm-3 control-label">Händigkeit</label>
			<div class="col-sm-6">
			    <input type="text" name="name" class="form-control" id="name" value="Bsp.: 36.038752, -104.729802" autofocus>
			</div>
		</div>
	</form>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->	
</div>
}