@(e: User) 
@import java.math.BigInteger; var index=1 
@import java.math.BigInteger; var index2=1 
@main(null, null, "admin") {

<div role="main" class="container main">
	<div class="page-header">
		<h2>User bearbeiten</h2>
	</div>


	<form role="form" class="form-horizontal" action="/">

		<div class="form-group">

			<label class="col-sm-2 control-label">Email</label>

			<div class="col-sm-4">
				<input type="email" class="form-control" id="email"
					placeholder="Max.Muster@@example.de">
			</div>
		</div>

		<div class="form-group">

			<label class="col-sm-2 control-label">Name</label>
			<div class="col-sm-4">
				<input type="text" class="form-control" id="name"
					placeholder="Max Muster">
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label">Passwort</label>
			<div class="col-sm-4">
				<input type="password" class="form-control" id="password"
					placeholder="Passwort">
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-sm-2 control-label">Telefonnummer</label>
			<div class="col-sm-4">
				<input type="password" class="form-control" id="password"
					placeholder="0123/4567890">
			</div>
		</div>

		<div class="form-group">
			<label for="description" class="col-sm-2 control-label">Geschlecht</span></label>
			<div class="col-sm-4">
				<div class="btn-group">
					<label class="btn btn-default"> <input type="radio"
						name="gender" id="gender1" checked> männlich
					</label>
					<!-- female = false-->
					<label class="btn btn-default"> <input type="radio"
						name="gender" id="gender2"> weiblich
					</label>
					<!-- female = true -->
				</div>
			</div>
		</div>

		<div class="form-group">
			<label for="description" class="col-sm-2 control-label">Händigkeit</span></label>
			<div class="col-sm-4">
				<div class="btn-group">
					<label class="btn btn-default"> <input type="radio"
						name="hand" id="links"> links
					</label>
					<!-- ist ein varchar -->
					<label class="btn btn-default"> <input type="radio"
						name="hand" id="rechts" checked> rechts
					</label>
				</div>
			</div>
		</div>


		<div class="form-group">
			<label for="name" class="col-sm-2 control-label">Studienbegin</label>
			<div class="col-sm-4">
				<select id="semesterFrom" class="form-control">
					<option>Sommersemester 2011</option>
					<option>Wintersemester 2011/12</option>
					<option>Sommersemester 2012</option>
					<option>Wintersemester 2012/13</option>
					<option>Sommersemester 2013</option>
					<option>Wintersemester 2014/15</option>
				</select>
			</div>
		</div>
		<div class="form-group">
			<label for="name" class="col-sm-2 control-label">Studiengang</label>
			<div class="col-sm-4">
				<div class="btn-group">
					<label class="btn btn-default"> <input type="radio"
						name="options" id="MCS"> MCS
					</label> <label class="btn btn-default"> <input type="radio"
						name="options" id="MK"> MK
					</label> <label class="btn btn-default"> <input type="radio"
						name="options" id="Sonstiges" checked> Sonstiger
					</label>
				</div>

			</div>

</div>

			<div class="form-group">
				<label for="name" class="col-sm-2 control-label">Rechte</label>
				<div class="col-sm-4">
					<div class="radio">
						<label> <input type="radio" name="options4" value=""
							checked> Proband (Nur Studien besuchen)
						</label>
					</div>
					<div class="radio">
						<label> <input type="radio" name="options4" value="">
							Hilfskraft (Sessions erstellen und Teilnahmen bestätigen)
						</label>
					</div>
					<div class="radio">
						<label> <input type="radio" name="options4" value="">
							Versuchsleiter (Versuche erstellen)
						</label>
					</div>

					<div class="radio">
						<label> <input type="radio" name="options4" value="">
							<span class="text-danger">Administrator</span>
						</label>
					</div>

				</div>
			</div>


			<div class="form-group">

				<div class="col-sm-2 col-sm-offset-4">
					<button type="submit" class="btn btn-primary btn-lg pull-right">
						<span class="glyphicon glyphicon-ok"></span> Speichern
					</button>
				</div>
			</div>

		
	</form>





</div>

}
