@main(null, null, "admin") {

	<div class="panel-group" id="accordion">
			<div class="row">
				<div class="col-sm-6 ">
					<div class="panel panel-default" \>
						<div class="panel-heading">
							<h4 class="panel-title">Benutzer Suchen</h4>
						</div>

						<div id="collapseOne" class="panel-collapse collapse in">
							<div class="panel-body"> 

								<form class="navbar-form navbar-left" role="search">
        <input type="text" class="form-control" placeholder="">
    <button type="submit" class="btn btn-default">Suchen</button>
</form>

							</div>
					</div>
												</div>

				</div>
				<div class="col-sm-6 ">
					<div class="panel panel-default" \>
						<div class="panel-heading">
							<h4 class="panel-title">Administratoren</h4>
						</div>

						<div id="collapseOne" class="panel-collapse collapse in">
							<div class="panel-body"> 

	<div class="row">
					<div class="col-sm-6 ">Martin Musterman</div>
				<div class="col-sm-3 ">    <button type="submit" class="btn btn-default" id="add" data-toggle="modal" data-target="#myModal1"><span class="glyphicon glyphicon-pencil"></span></button></div>				<div class="col-sm-1 ">    <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-envelope"></span> E-Mail</button></div>

	</div>
	<div class="row">
					<div class="col-sm-6 ">Admin Neuer</div>
				<div class="col-sm-3 ">    <button type="submit" class="btn btn-default" id="add" data-toggle="modal" data-target="#myModal1"><span class="glyphicon glyphicon-pencil"></span></button></div>				<div class="col-sm-1 ">    <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-envelope"></span> E-Mail</button></div>


</div>
							</div>
						</div>
					</div>
				</div>
			</div> <!-- row -->
			<div class="row">
				<div class="col-sm-12">
					<div class="panel panel-default" \>
						<div class="panel-heading">
							<h4 class="panel-title">Versuchsleiter</h4>
						</div>

						<div id="collapseOne" class="panel-collapse collapse in">
							<div class="panel-body"> 

<div class="row">
					<div class="col-sm-5 col-xs-6">Versuchsleiter Nummer 1</div>
					<div class="col-sm-3 col-xs-6"><button type="submit" class="btn btn-edit btn-default" id="add" data-toggle="modal" data-target="#myModal2"><b>5</b> Studien</button></div>
					<div class="col-sm-1 col-xs-6">    <button type="submit" class="btn btn-edit btn-default" id="add" data-toggle="modal" data-target="#myModal1"><span class="glyphicon glyphicon-pencil"></span></button></div>
					<div class="col-sm-2 col-xs-6">    <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-envelope"></span> E-Mail</button></div>

</div>

<div class="row">
					<div class="col-sm-5 col-xs-6">Versuchsleiter</div>
					<div class="col-sm-3 col-xs-6"><button type="submit" class="btn btn-edit btn-default" id="add" data-toggle="modal" data-target="#myModal2"><b>5</b> Studien</button></div>
					<div class="col-sm-1 col-xs-6">    <button type="submit" class="btn btn-edit btn-default" id="add" data-toggle="modal" data-target="#myModal1"><span class="glyphicon glyphicon-pencil"></span></button></div>
					<div class="col-sm-1 col-xs-6">    <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-envelope"></span> E-Mail</button></div>

</div>

<div class="row">
					<div class="col-sm-5 col-xs-6">Felix Flügel</div>
					<div class="col-sm-3 col-xs-6"><button type="submit" class="btn btn-edit btn-default" id="add" data-toggle="modal" data-target="#myModal2"><b>5</b> Studien</button></div>
					<div class="col-sm-1 col-xs-6">    <button type="submit" class="btn btn-edit btn-default" id="add" data-toggle="modal" data-target="#myModal1"><span class="glyphicon glyphicon-pencil"></span></button></div>
					<div class="col-sm-1 col-xs-6">    <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-envelope"></span> E-Mail</button></div>

</div>

<div class="row">
					<div class="col-sm-5 col-xs-6">Martin Bimmer</div>
					<div class="col-sm-3 col-xs-6"><button type="submit" class="btn btn-edit btn-default" id="add" data-toggle="modal" data-target="#myModal2"><b>5</b> Studien</button></div>
					<div class="col-sm-1 col-xs-6">    <button type="submit" class="btn btn-edit btn-default" id="add" data-toggle="modal" data-target="#myModal1"><span class="glyphicon glyphicon-pencil"></span></button></div>
					<div class="col-sm-1 col-xs-6">    <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-envelope"></span> E-Mail</button></div>

</div>
							</div>
						</div>
					</div>
				</div>
				</div>
				<div class="row">
				<div class="col-sm-12">
					<div class="panel panel-default" \>
						<div class="panel-heading">
							<h4 class="panel-title">Probanden</h4>
						</div>

						<div id="collapseOne" class="panel-collapse collapse in">
							<div class="panel-body"> 


<div class="row">
					<div class="col-sm-3 col-xs-6">Proband Nummer 1</div>
					<div class="col-sm-3 col-xs-6">Rechte: Normal</div>
				
					<div class="col-sm-2 col-xs-6">No-Shows: 1</div>

					<div class="col-sm-1 col-xs-6">VPS: 14</div>
	<div class="col-sm-1 col-xs-6">    <button type="submit" class="btn btn-edit btn-default" id="add" data-toggle="modal" data-target="#myModal1"><span class="glyphicon glyphicon-pencil"></span></button></div>
					<div class="col-sm-2 col-xs-6"><button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-envelope"></span> E-Mail</button></div>
</div>
<div class="row">
					<div class="col-sm-3 col-xs-6">Markus Eifler</div>
					<div class="col-sm-3 col-xs-6">Rechte: Normal</div>
				
					<div class="col-sm-2 col-xs-6">No-Shows: 4</div>

					<div class="col-sm-1 col-xs-6">VPS: 23</div>
	<div class="col-sm-1 col-xs-6">    <button type="submit" class="btn btn-edit btn-default" id="add" data-toggle="modal" data-target="#myModal1"><span class="glyphicon glyphicon-pencil"></span></button></div>
					<div class="col-sm-2 col-xs-6"><button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-envelope"></span> E-Mail</button></div>
</div>
<div class="row">
					<div class="col-sm-3 col-xs-6">Felix Hummels </div>
					<div class="col-sm-3 col-xs-6">Rechte: <button type="submit" class="btn btn-edit btn-default" id="add" data-toggle="modal" data-target="#myModal2"><b>1</b> Studie</button></div>
				
					<div class="col-sm-2 col-xs-6">No-Shows: 0</div>

					<div class="col-sm-1 col-xs-6">VPS: 10</div>
	<div class="col-sm-1 col-xs-6">    <button type="submit" class="btn btn-edit btn-default" id="add" data-toggle="modal" data-target="#myModal1"><span class="glyphicon glyphicon-pencil"></span></button></div>
					<div class="col-sm-2 col-xs-6"><button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-envelope"></span> E-Mail</button></div>
</div>
<div class="row">
					<div class="col-sm-3 col-xs-6">Proband Nummer 1</div>
					<div class="col-sm-3 col-xs-6">Rechte: Normal</div>
				
					<div class="col-sm-2 col-xs-6">No-Shows: 1</div>

					<div class="col-sm-1 col-xs-6">VPS: 14</div>
	<div class="col-sm-1 col-xs-6">    <button type="submit" class="btn btn-edit btn-default" id="add" data-toggle="modal" data-target="#myModal1"><span class="glyphicon glyphicon-pencil"></span></button></div>
					<div class="col-sm-2 col-xs-6"><button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-envelope"></span> E-Mail</button></div>
</div>
<div class="row">
					<div class="col-sm-3 col-xs-6">Markus Eifler</div>
					<div class="col-sm-3 col-xs-6">Rechte: Normal</div>
				
					<div class="col-sm-2 col-xs-6">No-Shows: 4</div>

					<div class="col-sm-1 col-xs-6">VPS: 23</div>
					<div class="col-sm-1 col-xs-6">    <button type="submit" class="btn btn-edit btn-default" id="add" data-toggle="modal" data-target="#myModal1"><span class="glyphicon glyphicon-pencil"></span></button></div>
					<div class="col-sm-2 col-xs-6"><button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-envelope"></span> E-Mail</button></div>
</div>
<div class="row">
					<div class="col-sm-3 col-xs-6">Felix Hummels </div>
					<div class="col-sm-3 col-xs-6">Rechte: 1</div>
				
					<div class="col-sm-2 col-xs-6">No-Shows: 0</div>

					<div class="col-sm-1 col-xs-6">VPS: 10</div>
	<div class="col-sm-1 col-xs-6">    <button type="submit" class="btn btn-edit btn-default" id="add" data-toggle="modal" data-target="#myModal1"><span class="glyphicon glyphicon-pencil"></span></button></div>
					<div class="col-sm-2 col-xs-6"><button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-envelope"></span> E-Mail</button></div>
</div>
<div class="row">
					<div class="col-sm-3 col-xs-6">Proband Nummer 1</div>
					<div class="col-sm-3 col-xs-6">Rechte: Normal</div>
				
					<div class="col-sm-2 col-xs-6">No-Shows: 1</div>

					<div class="col-sm-1 col-xs-6">VPS: 14</div>
	<div class="col-sm-1 col-xs-6">    <button type="submit" class="btn btn-edit btn-default" id="add" data-toggle="modal" data-target="#myModal1"><span class="glyphicon glyphicon-pencil"></span></button></div>
					<div class="col-sm-2 col-xs-6"><button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-envelope"></span> E-Mail</button></div>
</div>
<div class="row">
					<div class="col-sm-3 col-xs-6">Markus Eifler</div>
					<div class="col-sm-3 col-xs-6">Rechte: Normal</div>
				
					<div class="col-sm-2 col-xs-6">No-Shows: 4</div>

					<div class="col-sm-1 col-xs-6">VPS: 23</div>
	<div class="col-sm-1 col-xs-6">    <button type="submit" class="btn btn-edit btn-default" id="add" data-toggle="modal" data-target="#myModal1"><span class="glyphicon glyphicon-pencil"></span></button></div>
					<div class="col-sm-2 col-xs-6"><button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-envelope"></span> E-Mail</button></div>
</div>
<div class="row">
					<div class="col-sm-3 col-xs-6">Felix Hummels </div>
					<div class="col-sm-3 col-xs-6">Rechte: <button type="submit" class="btn btn-edit btn-default" id="add" data-toggle="modal" data-target="#myModal2"><b>1</b> Studie</button></div>
				
					<div class="col-sm-2 col-xs-6">No-Shows: 0</div>

					<div class="col-sm-1 col-xs-6">VPS: 10</div>
	<div class="col-sm-1 col-xs-6">    <button type="submit" class="btn btn-edit btn-default" id="add" data-toggle="modal" data-target="#myModal1"><span class="glyphicon glyphicon-pencil"></span></button></div>
					<div class="col-sm-2 col-xs-6"><button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-envelope"></span> E-Mail</button></div>
</div>
<div class="row">
					<div class="col-sm-3 col-xs-6">Proband Nummer 1</div>
					<div class="col-sm-3 col-xs-6">Rechte: Normal</div>
				
					<div class="col-sm-2 col-xs-6">No-Shows: 1</div>

					<div class="col-sm-1 col-xs-6">VPS: 14</div>
	<div class="col-sm-1 col-xs-6">    <button type="submit" class="btn btn-edit btn-default" id="add" data-toggle="modal" data-target="#myModal1"><span class="glyphicon glyphicon-pencil"></span></button></div>
					<div class="col-sm-2 col-xs-6"><button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-envelope"></span> E-Mail</button></div>
</div>
<div class="row">
					<div class="col-sm-3 col-xs-6">Markus Eifler</div>
					<div class="col-sm-3 col-xs-6">Rechte: Normal</div>
				
					<div class="col-sm-2 col-xs-6">No-Shows: 4</div>

					<div class="col-sm-1 col-xs-6">VPS: 23</div>
	<div class="col-sm-1 col-xs-6">    <button type="submit" class="btn btn-edit btn-default" id="add" data-toggle="modal" data-target="#myModal1"><span class="glyphicon glyphicon-pencil"></span></button></div>
					<div class="col-sm-2 col-xs-6"><button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-envelope"></span> E-Mail</button></div>
</div>
<div class="row">
					<div class="col-sm-3 col-xs-6">Felix Hummels </div>
					<div class="col-sm-3 col-xs-6">Rechte: 1</div>
				
					<div class="col-sm-2 col-xs-6">No-Shows: 0</div>

					<div class="col-sm-1 col-xs-6">VPS: 10</div>
	<div class="col-sm-1 col-xs-6">    <button type="submit" class="btn btn-edit btn-default" id="add" data-toggle="modal" data-target="#myModal1"><span class="glyphicon glyphicon-pencil"></span></button></div>
					<div class="col-sm-2 col-xs-6"><button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-envelope"></span> E-Mail</button></div>
</div>

							</div>
						</div>
					</div>
				</div>
			</div><!-- row -->



<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

 <div class="modal-dialog ">
        <div class="modal-content ">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                 <h4 class="modal-title">Benutzer bearbeiten</h4>

            </div>
<p></p>

	<form class="form-horizontal" role="form">
		<div class="form-group">
			<label for="name" class="col-sm-3 control-label">Name</label>
			<div class="col-sm-6">
			    <input type="text" name="name" class="form-control" id="name" value="Max Mustermann" autofocus>
			</div>
		</div>
		<div class="form-group">
			<label for="name" class="col-sm-3 control-label">Studienbegin</label>
			<div class="col-sm-6">
				<select id="semesterFrom" class="form-control">
										<option>Wintersemester 2012/13</option>
										<option>Sommersemester 2013</option>
										<option>Wintersemester 2014/15</option>
									</select> 			
			</div>
		</div>
			<div class="form-group">
			<label for="name" class="col-sm-3 control-label">Accounttyp</label>
			<div class="col-sm-6">
<div class="radio">
  <label>
    <input type="radio" name="options1" id="optionsRadios2" value="option2" checked>
Uni Würzburg  </label>
</div>	<div class="radio">
  <label>
    <input type="radio" name="options1" id="optionsRadios2" value="option2">
Extern  </label>
</div>				</div>
		</div>
			<div class="form-group">
			<label for="name" class="col-sm-3 control-label">Studiengang</label>
			<div class="col-sm-6">
<div class="radio">
  <label>
    <input type="radio" name="options2" id="optionsRadios1" value="option1">
MCS  </label>
</div>
<div class="radio">
  <label>
    <input type="radio" name="options2" id="optionsRadios2" value="option2">
MK  </label>
</div>		<div class="radio">
  <label>
    <input type="radio" name="options2" id="optionsRadios2" value="option2" checked>
Sonstiger  </label>
</div>		</div>
		</div>
		<div class="form-group">
			<label for="name" class="col-sm-3 control-label">Händigkeit</label>
			<div class="col-sm-6">


<div class="radio">
  <label>
    <input type="radio" name="options3" id="optionsRadios1" value="option1" checked>
Rechts  </label>
</div>
<div class="radio">
  <label>
    <input type="radio" name="options3" id="optionsRadios2" value="option2">
Links  </label>
</div>
</div>
		</div>
	<div class="form-group">
			<label for="name" class="col-sm-3 control-label">Rechte</label>
			<div class="col-sm-6">
<div class="checkbox">
  <label>
    <input type="checkbox" value=""> Anwesenheit von Probanden bestätigen
  </label>
</div>
<div class="checkbox">
  <label>
    <input type="checkbox" value=""> Sitzungen erstellen
  </label>
</div>
<div class="checkbox">
  <label>
    <input type="checkbox" value=""> Studien erstellen
  </label>
</div>
<div class="checkbox">
  <label>
    <input type="checkbox" value=""> Rechte für eigene Studien vergeben
  </label>
</div>
<div class="checkbox">
  <label>
    <input type="checkbox" value=""> Gebäude / Räume verwalten
  </label>
</div>
<div class="checkbox">
  <label>
    <input type="checkbox" value=""> <span class="text-danger">Administrator</span>
  </label>
</div>

			</div>
		</div>
			
	<div class="form-group">
			<label for="name" class="col-sm-3 control-label">VPS</label>
			<div class="col-sm-6">
			    <input type="text" name="name" class="form-control" id="name" value="25" autofocus>
			</div>
		</div>
	



	</form>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->	



</div>


<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

 <div class="modal-dialog ">
        <div class="modal-content ">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                 <h4 class="modal-title">Verküpfte Studien</h4>

            </div>
            <div class="modal-body">
            	<ul>
            	<li>Multitasking I</li>
            	<li>Multitasking II</li>
            	<li>Multitasking III</li>
            	<li>Multitasking IIII</li>
            	<li>Multitasking IIIII</li>
            </ul>
            </div>


            <div class="modal-footer">
            	<button type="button" class="btn btn-primary" data-dismiss="modal">Schließen</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->	

</div>

</div>
}