@scripts = {

<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
<script src="@routes.Assets.at("javascripts/probandSimpleMap.js")" charset="UTF-8"
	type="text/javascript"></script>
	<link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.0.3/fullcalendar.css' />

<script src='/assets/javascripts/jquery-ui.custom.min.js'></script>
<!--  <script src='@routes.Assets.at("javascripts/jquery.ui.touch-punch.min.js")'></script>  TOUCH SUPPORT DISABLED !!! -->
<script src='//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.1/moment-with-locales.min.js'></script>
<script src='//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.0.3/fullcalendar.min.js'></script>

} 
@main(null, scripts) {
<meta charset="utf-8" />
<div class="page-header">
	<h3>
		Verfügbare Studien <span class="label label-default">4</span>
	</h3>
</div>


<div class="row">
	<div class="panel-group" id="accordion">
		@for(e <- Experiment.all()) {
		<!--   col und alles von der ersten studie-->
		<div class=" col-sm-6 col-xs-12 mb15px">
			<div class="panel panel-default">
				<div class="panel-heading">
					<a data-toggle="collapse" data-parent="#accordion" href="#e_@e.id">
						<div class="panel-heading">
							<span class="pull-right"> <span class="badge"><span
									class="glyphicon glyphicon-star"></span> @e.proband_hours </span> <span
								class="badge"><span class="glyphicon glyphicon-time"></span><b>
										@e.duration min</b></span>

							</span>

							<h4 class="panel-title">@e.name</h4>

						</div>
					</a>
				</div>
				<div id="e_@e.id" class="panel-collapse collapse in">
					<div class="panel-body">
						<div class="row">

							<div class="col-xs-12 text-center">
								<span><b>@Building.buildingByRoomId(e.defaultRoom_id).name</b>,
									@Room.byId(e.defaultRoom_id).name</span> </span>
								<button data-toggle="modal" data-target="#myMapModal"
									class="btn btn-default btn-sm">
									<span class="glyphicon glyphicon-map-marker"></span>
								</button>
							</div>
						</div>

						<!-- START TERMINE -->
						<div id="calendar"></div>

						<!-- erster datenblock -->
					</div>
				</div>
			</div>
		</div>
		}

	</div>



</div>
<!-- /row  -->





<div class="modal fade" id="confirm" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">Anmeldung bestätigen</h4>
			</div>
			<div class="modal-body">
				<h4>Multitasking III</h4>
				<div>
					<span class="glyphicon glyphicon-time"></span> Dienstag,
					24.12.2013, 12:00 - 13:00 Uhr
				</div>
				<div id="loc" title="Juliuspromenade 8, 97070 Würzburg">
					<span class="glyphicon glyphicon-globe"></span> Gebäude 82
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Schließen</button>
				<a href="/registered" type="button" class="btn btn-primary"
					id="submit" data-loading-text="Laden...">Anmelden</a>
				<div id="success" class="hidden">
					<div class="alert alert-success">Ihre Anmeldung war
						erfolgreich.</div>
					<button type="button" class="btn btn-default">Termin
						speichern</button>
					<button type="button" class="btn btn-primary" data-dismiss="modal">Schließen</button>
				</div>
			</div>
		</div>
	</div>
	<!-- /.modal-content -->
</div>
<!-- /.modal-dialog -->




<!-- MAP MODAL -->
<div class="modal fade" id="myMapModal">
	<div class="modal-dialog contains_map1">
		<div class="modal-content contains_map2">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">×</button>
				<h4 class="modal-title">Oswald Külpe Weg, Gebäude 82</h4>

			</div>
			<div class="modal-body contains_map3">
				<div class="container contains_map4">
					<div class="row contains_map4">

						<div align="center" id="map-canvas" class="contains_map4"></div>

					</div>
				</div>
			</div>
			<div class="modal-footer" style="height: 5%;">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary">Save changes</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<div id="eventFrame" style="display: none">
	<span class="datetime"></span>
</div>
<script type="text/javascript" src="@routes.Assets.at("javascripts/calendarMyStudies.js")"></script>
<script type="text/javascript">
	eventSource = '/jsonByExperimentId/1'
	$('#calendar')
			.fullCalendar(
					{
						defaultView : 'agendaWeek',
						events : eventSource,
						header : {
							left : '',
							center : '',
							right : 'today prev,next'
						},
						// Hier wird dem fullcalendar events array ein Participations array hinzugefügt. 
						// Somit werden den Sessions Teilnehmer zugewiesen

						lang : 'de',
						allDaySlot : false,
						slotDuration : '00:30:00',
						minTime : '08:00:00',
						maxTime : '19:00:00',
						eventStartEditable : false,
						selectable : false,
						slotEventOverlap : false,
						axisFormat : 'H:mm',
						timeFormat : 'H:mm',
						columnFormat : 'dd., D.M',
						contentHeight : 600,
						lazyFetching : true,
						/**
						Bei Click & Drag werden im ausgewählten Zeitraum Sessions erstellt
						 **/

						eventRender : function(event, element, view) {

							eventFrame = $('#eventFrame').clone();
							eventFrame.show();
							$(element).children().remove();
							datetime = event.start.format("H:mm") + "-"
									+ event.end.format("H:mm");
							$(element).prepend($(eventFrame));
							eventFrame
									.find($('.datetime'))
									.html(datetime);
						}
					});
</script>
}
