@scripts = {

<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
<script src="@routes.Assets.at("javascripts/probandSimpleMap.js")" charset="UTF-8" type="text/javascript"></script>

}


@main(null, scripts) {
<meta charset="utf-8"/>
<div class="page-header">
	<h3>Verfügbare Studien <span class="label label-default">4</span></h3>
</div>	


<div class="row">

<div class="panel-group" id="accordion">

	<!--   col und alles von der ersten studie--> 
	<div class="col-sm-6 col-xs-12">
		<div class="panel panel-default">
			<div class="panel-heading">
			<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
				<div class="panel-heading"><span class="pull-right">
					<span class="badge"><span class="glyphicon glyphicon-star"></span> 1.5 </span>

					<span class="badge"><span class="glyphicon glyphicon-time"></span><b> 45 min</b></span>

				</span>

				<h4 class="panel-title">Gestenpräzision</h4>

			</div>
			</a>
		</div>
		<div id="collapseOne" class="panel-collapse collapse">
			<div class="panel-body">
				<div class="row">

					<div class="col-sm-12 col-xs-12" style="text-align: center;"><span >Raum Raum | Gebäude Gebäude </span> <button data-toggle="modal" data-target="#myMapModal" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-map-marker"></span></button></div>
				</div>

				<!-- START TERMINE -->

				<div class="row">
					<div class="col-sm-12 col-xs-12">
						<table class="table" style="border: none;">
							<tr class=""> <!-- Onclick this show hide -->
								<!-- sucessive every DAY, open second table for next week? weekends?-->
								<td>
									<b>	23.12.</b><br />Mo
								</td>
								<td>
								<b>	24.12.</b><br />Di
								</td>
								<td>
									<b>	25.12.</b><br />Mi</button>
								</td>
								<td>
									<b>	27.12.</b><br />Fr</button>
								</td>
								<td>
									<b> 30.12.</b><br />Mo</button>
								</td>
							</tr>

							<tr class="showhide_WEEK_ID">  <!-- needs attention --> 
								<td>
									<div class="btn-group-vertical">
										<button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#confirm">08:00<br /></button>
										<button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#confirm">09:00<br /></button>
										<button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#confirm">10:00 <br /></button>
										<button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#confirm">11:00 <br /></button>
										<button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#confirm">12:00 <br /></button>
										<button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#confirm">13:00 <br /></button>
									</div>
								</td>
								<td>
									<div class="btn-group-vertical">

										<button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#confirm">10:00 <br /></button>
										<button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#confirm">11:00 <br /></button>
										<button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#confirm">12:00 <br /></button>
										<button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#confirm">13:00 <br /></button>
									</div>
								</td>
								<td>
									<div class="btn-group-vertical">




										<button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#confirm">10:00 <br /></button>


									</div>
								</td>
								<td>
									<div class="btn-group-vertical">




										<button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#confirm">10:00 <br /></button>
										<button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#confirm">11:00 <br /></button>
										<button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#confirm">12:00 <br /></button>
										<button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#confirm">13:00 <br /></button>

									</div>
								</td>
								<td>
									<div class="btn-group-vertical">




										<button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#confirm">10:00 <br /></button>
										<button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#confirm">11:00 <br /></button>
										<button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#confirm">12:00 <br /></button>
										<button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#confirm">13:00 <br /></button>

									</div>
								</td>

							</tr>

						</table>

					</div>


					<!-- START TERMINE -->

						<div class="col-sm-12 col-xs-12">
							<table class="table" style="border: none;">
								<tr class=""> <!-- Onclick this show hide -->
									<!-- sucessive every DAY, open second table for next week? weekends?-->
									<td>
										<b>	23.12.</b><br />Mo</button>
									</td>
									<td>
										<b>	24.12.</b><br />Di</button>
									</td>
									<td>
										<b>	25.12.</b><br />Mi</button>
									</td>
									<td>
										<b>	27.12.</b><br />Fr</button>
									</td>
									<td>
										<b> 30.12.</b><br />Mo</button>
									</td>
								</tr>

								<tr class="showhide_WEEK_ID">  <!-- needs attention --> 
									<td>
										<div class="btn-group-vertical">
											<button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#confirm">08:00<br /></button>
											<button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#confirm">09:00<br /></button>
											<button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#confirm">10:00 <br /></button>
											<button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#confirm">11:00 <br /></button>
											<button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#confirm">12:00 <br /></button>
											<button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#confirm">13:00 <br /></button>
										</div>
									</td>
									<td>
										<div class="btn-group-vertical">

											<button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#confirm">10:00 <br /></button>
											<button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#confirm">11:00 <br /></button>
											<button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#confirm">12:00 <br /></button>
											<button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#confirm">13:00 <br /></button>
										</div>
									</td>
									<td>
										<div class="btn-group-vertical">




											<button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#confirm">10:00 <br /></button>


										</div>
									</td>
									<td>
										<div class="btn-group-vertical">




											<button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#confirm">10:00 <br /></button>
											<button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#confirm">11:00 <br /></button>
											<button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#confirm">12:00 <br /></button>
											<button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#confirm">13:00 <br /></button>

										</div>
									</td>
									<td>
										<div class="btn-group-vertical">




											<button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#confirm">10:00 <br /></button>
											<button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#confirm">11:00 <br /></button>
											<button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#confirm">12:00 <br /></button>
											<button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#confirm">13:00 <br /></button>

										</div>
									</td>

								</tr>

							</table>

						</div>


				</div> <!-- erster datenblock --> 
			</div>
		</div>
	</div>
</div>
</div>
</div>
<div class="row">
<div class="col-sm-6 col-xs-12">
	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="panel-heading"><span class="pull-right">
						<a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">

				<span class="badge"><span class="glyphicon glyphicon-star"></span> 1.5 </span>

				<span class="badge"><span class="glyphicon glyphicon-time"></span><b> 45 min</b></span>

			</span>

			<h4 class="panel-title">Multitasking I</h4>
		</div>
		</a>
	</div>
	<div id="collapseTwo" class="panel-collapse collapse ">
		<div class="panel-body">
			<div class="row">

				<div class="col-sm-12 col-xs-12" style="text-align: center;"><span >Raum Raum | Gebäude Gebäude </span> <button data-toggle="modal" data-target="#myMapModal" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-map-marker"></span></button></div>
			</div>

			<!-- START TERMINE -->

			<div class="row">
				<div class="col-sm-12 col-xs-12">
					<table class="table" style="border: none;">
						<tr class=""> <!-- Onclick this show hide -->
							<!-- sucessive every DAY, open second table for next week? weekends?-->
							<td>
								<b>	23.12.</b><br />Mo</button>
							</td>
							<td>
								<b>	24.12.</b><br />Di</button>
							</td>
							<td>
								<b>	25.12.</b><br />Mi</button>
							</td>
							<td>
								<b>	27.12.</b><br />Fr</button>
							</td>
							<td>
								<b> 30.12.</b><br />Mo</button>
							</td>
						</tr>

						<tr class="showhide_WEEK_ID">  <!-- needs attention --> 
							<td>
								<div class="btn-group-vertical">
									<button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#confirm">08:00<br /></button>
									<button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#confirm">09:00<br /></button>
									<button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#confirm">10:00 <br /></button>
									<button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#confirm">11:00 <br /></button>
									<button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#confirm">12:00 <br /></button>
									<button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#confirm">13:00 <br /></button>
								</div>
							</td>
							<td>
								<div class="btn-group-vertical">
									
									<button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#confirm">10:00 <br /></button>
									<button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#confirm">11:00 <br /></button>
									<button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#confirm">12:00 <br /></button>
									<button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#confirm">13:00 <br /></button>
								</div>
							</td>
							<td>
								<div class="btn-group-vertical">



									
									<button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#confirm">10:00 <br /></button>
									

								</div>
							</td>
							<td>
								<div class="btn-group-vertical">



									
									<button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#confirm">10:00 <br /></button>
									<button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#confirm">11:00 <br /></button>
									<button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#confirm">12:00 <br /></button>
									<button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#confirm">13:00 <br /></button>

								</div>
							</td>
							<td>
								<div class="btn-group-vertical">



									
									<button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#confirm">10:00 <br /></button>
									<button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#confirm">11:00 <br /></button>
									<button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#confirm">12:00 <br /></button>
									<button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#confirm">13:00 <br /></button>

								</div>
							</td>

						</tr>

					</table>

				</div>

			</div>
			<!-- START TERMINE -->


		</div> <!-- erster datenblock --> 
	</div>
</div>
</div>
</div>

<div class="row">
	


	<div class="col-sm-6 col-xs-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="panel-heading"><span class="pull-right">
							<a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">

					<span class="badge"><span class="glyphicon glyphicon-star"></span> 1.5 </span>

					<span class="badge"><span class="glyphicon glyphicon-time"></span><b> 180 min</b></span>

				</span>

				<h4 class="panel-title">Multitasking III</h4>
			</div>
		</div>
		</a>
		<div id="collapseThree" class="panel-collapse collapse">
			<div class="panel-body">
				<div class="row">

					<div class="col-sm-12 col-xs-12" style="text-align: center;"><span >Game Box | Raum: 00.120 | Karte</span></div>
				</div>

				<!-- START TERMINE -->

				<div class="row">
					<div class="col-sm-12 col-xs-12">
						<table class="table" style="border: none;">
							<tr class=""> <!-- Onclick this show hide -->
								<!-- sucessive every DAY, open second table for next week? weekends?-->
								<td>
									<b>	23.12.</b><br />Mo</button>
								</td>
								<td>
									<b>	24.12.</b><br />Di</button>
								</td>
								<td>
									<b>	25.12.</b><br />Mi</button>
								</td>
								<td>
									<b>	27.12.</b><br />Fr</button>
								</td>
								<td>
									<b> 30.12.</b><br />Mo</button>
								</td>
							</tr>


						</table>

					</div>


					<!-- START TERMINE -->


				</div> <!-- erster datenblock --> 
			</div>
		</div>
	</div>
</div>


<div class="col-sm-6 col-xs-12">
	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="panel-heading"><span class="pull-right">
						<a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">

				<span class="badge"><span class="glyphicon glyphicon-star"></span> 1.5 </span>

				<span class="badge"><span class="glyphicon glyphicon-time"></span><b> 45 min</b></span>

			</span>

			<h4 class="panel-title">Multitasking II</h4>
		</div>
		</a>
	</div>
	<div id="collapseFour" class="panel-collapse collapse">
		<div class="panel-body">
			<div class="row">

				<div class="col-sm-12 col-xs-12" style="text-align: center;"><span >Black Box | ZFM | Karte</span></div>
			</div>

			<!-- START TERMINE -->

			<div class="row">



				<!-- START TERMINE -->

				<div class="row">
					<div class="col-sm-12 col-xs-12">
						<table class="table" style="border: none;">
							<tr class=""> <!-- Onclick this show hide -->
								<!-- sucessive every DAY, open second table for next week? weekends?-->
								<td>
									<b>	23.12.</b><br />Mo</button>
								</td>
								<td>
									<b>	24.12.</b><br />Di</button>
								</td>
								<td>
									<b>	25.12.</b><br />Mi</button>
								</td>
								<td>
								</td>
								<td>
								</td>
							</tr>

							<tr class="showhide_WEEK_ID">  <!-- needs attention --> 
								<td>
									<div class="btn-group-vertical">
										<button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#confirm">08:00<br /></button>
										<button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#confirm">09:00<br /></button>
										<button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#confirm">10:00 <br /></button>
										<button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#confirm">11:00 <br /></button>
										<button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#confirm">12:00 <br /></button>
										<button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#confirm">13:00 <br /></button>
									</div>
								</td>
								<td>
									<div class="btn-group-vertical">

										<button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#confirm">10:00 <br /></button>
										<button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#confirm">11:00 <br /></button>
										<button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#confirm">12:00 <br /></button>
										<button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#confirm">13:00 <br /></button>
									</div>
								</td>
								<td>
									<div class="btn-group-vertical">




										<button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#confirm">10:00 <br /></button>


									</div>
								</td>
								<td>
									<div class="btn-group-vertical">




									</div>
								</td>
								<td>
									<div class="btn-group-vertical">






									</div>
								</td>

							</tr>

						</table>

					</div>


				</div>
			</div> <!-- erster datenblock --> 
		</div>
	</div>
</div>
</div>

</div>

</div>


</div> <!-- /row  -->
</div>
</div>

</div>





<div class="modal fade" id="confirm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">Anmeldung bestätigen</h4>
			</div>
			<div class="modal-body"><h4>Multitasking III</h4>
				<div><span class="glyphicon glyphicon-time"></span> Dienstag, 24.12.2013, 12:00 - 13:00 Uhr</div>
				<div id="loc" title="Juliuspromenade 8, 97070 Würzburg"><span class="glyphicon glyphicon-globe"></span> Gebäude 82 </div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen</button>
				<a href="/registered" type="button" class="btn btn-primary" id="submit" data-loading-text="Laden..." >Anmelden</a>
				<div  id="success" class="hidden">
					<div class="alert alert-success"> Ihre Anmeldung war erfolgreich. </div>
					<button type="button" class="btn btn-default">Termin speichern</button>
					<button type="button" class="btn btn-primary" data-dismiss="modal">Schließen</button>
				</div>
			</div>
		</div>
	</div>
	<!-- /.modal-content --> 
</div>
<!-- /.modal-dialog --> 




<!-- MAP MODAL -->
<div class="modal fade" id="myMapModal">
	<div class="modal-dialog contains_map1">
		<div class="modal-content contains_map2">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h4 class="modal-title">Oswald Külpe Weg, Gebäude 82</h4>

			</div>
			<div class="modal-body contains_map3">
				<div class="container contains_map4">
					<div class="row contains_map4">

						<div align="center" id="map-canvas"  class="contains_map4"></div>

					</div>
				</div>
			</div>
			<div class="modal-footer" style="height:5%;">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary">Save changes</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->
}