@scripts = {

<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
<link rel='stylesheet'
	href='//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.0.3/fullcalendar.css' />

<script src='/assets/javascripts/jquery-ui.custom.min.js'></script>
<!--  <script src='@routes.Assets.at("javascripts/jquery.ui.touch-punch.min.js")'></script>  TOUCH SUPPORT DISABLED !!! -->
<script
	src='//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.1/moment-with-locales.min.js'></script>
<script
	src='//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.0.3/fullcalendar.min.js'></script>

<script>



$(document).ready(function(){
	
	var map;	
	var center;
	var marker;
	var infowindow;
	
    var building_name;
    var building_description;
    var room_name;
    var room_description;
    var lat;
    var lng;
    	
    $(document).on('click','.glyphicon-map-marker',function(e) {
 	   e.preventDefault();
 	  
 	   
	   var statusCode = $(this).data('status');	
	   var felder = statusCode.split(';', 6);
	   
	   building_description = felder[0];
	   building_name = felder[1];
	   lat = felder[2];
	   lng = felder[3];
       room_name = felder[4];
       room_description = felder[5];
	   
	   
	   
	   $("#modalHead").html(building_name+", "+room_name);
	   
	   infowindow = new google.maps.InfoWindow({
   	    content: '<div id="infodiv"><h2 id="firstHeading" class="firstHeading">'+building_name+'</h2>'
   	    +'<div id="bodyContent">'+room_description+'</div></div>'
   	    
   		});
	   
	   $('#myMapModal').on('shown.bs.modal', function() {
		   center=new google.maps.LatLng(lat, lng);
	       
	    	map=    new google.maps.Map(
	                 document.getElementById('map-canvas'), 
	                  { zoom: 17,
	                    center: center,
	                    mapTypeId: google.maps.MapTypeId.HYBRID });
	    	
	    	
	    	google.maps.event.trigger(map, "resize");
		    map.setCenter(center); 
		    marker=new google.maps.Marker({
		    	   position:center
		    	});
		    marker.setMap(map);
		    
			google.maps.event.addListener(marker, 'click', function() {
			  infowindow.open(map,marker);
			  });
			
				infowindow.open(map,marker);
	    	});
	    	
    });
    	
    infowindow.open(map,marker);
    	
});

</script>

} 
@main(null, scripts) {
<meta charset="utf-8" />
<div class="page-header">
	<h3>
		Verfügbare Studien <span class="label label-default">4</span>
	</h3>
</div>

<div class="row">
	
	<ul class="nav nav-pills nav-stacked col-sm-3">

		@for((e, index) <- Experiment.all().zipWithIndex) {
		<li class="@if(index == 0) {active}"><a id="title_@e.id"
			href="#e_@e.id" role="tab" data-toggle="pill">@e.name<span class="badge pull-right"><span
									class="glyphicon glyphicon-star"></span> @e.proband_hours </span></a>
									<!-- <span
								class="badge pull-right"><span class="glyphicon glyphicon-time"></span><b>
										@e.duration min</b></span>

							</span>--></li> }

	</ul>


	
	
	<div id="calendar" class="cal col-sm-7"></div>
	<!-- Tab panes -->
	<div class="tab-content col-sm-2">
		@for((e, index) <- Experiment.all().zipWithIndex) {
		<div class="tab-pane fade @if(index == 0) {in active}" id="e_@e.id">
		<h3 class="mt0"><span class="glyphicon glyphicon-info-sign"></span></h3>
		<p>@e.description
		<hr>
		
		@for(info <- RegisteredMapper.latLngByDefaultId(e.defaultRoom_id)){
			<span><b id="b_@e.id">@info.building_name</b>,
				<span id="r_@e.id">@info.room_name</span> </span>
			<button data-toggle="modal" data-target="#myMapModal"
				class="btn btn-default btn-sm">
				<span class="glyphicon glyphicon-map-marker" data-status="@info.building_description;@info.building_name;@info.Lat;@info.Lng;@info.room_name;@info.room_description;"></span>
			
			
			</button>
			}
			
		</div>
		}
	</div>
	</div>





<div class="modal fade" id="confirm" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<h5 class="modal-title" id="myModalLabel">Anmeldung bestätigen</h5>
			</div>
			<div class="modal-body">
				<h4 id="title"></h4>
				<hr>
				<span class="glyphicon glyphicon-calendar"></span> <span id="date"></span>
				<span class="glyphicon glyphicon-time"></span> <span id="time"></span>
				<hr>
					<span class="glyphicon glyphicon-globe"></span> <span id="building"></span>, <span id="room"></span>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Schließen</button>
				<a href="" type="button" class="btn btn-primary"
					id="submit" data-loading-text="Laden...">Anmelden</a>

			</div>
		</div>
	</div>
	<!-- /.modal-content -->
</div>
<!-- /.modal-dialog -->


<!-- MAP MODAL -->
<div class="modal fade" id="myMapModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header modalHead">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">×</button>
				<h4 class="modal-title">Oswald Külpe Weg, Gebäude 82</h4>

			</div>
			<div class="modal-body">
				<div class="container">
					<div class="row">

						<div align="center" id="map-canvas"></div>

					</div>
				</div>
			</div>
			<div class="modal-footer" style="height: 5%;">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary">Save changes</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<div id="eventFrame" style="display: none">
	<span class="datetime"></span>
</div>
<script type="text/javascript" src="@routes.Assets.at("javascripts/calendarMyStudies.js")"></script>
<script type="text/javascript">
	eventSourceDefault = '/jsonByExperimentId/1'
	e_id = "1";
	eventSource = '/jsonByExperimentId/'
	first = true;
	$('a[data-toggle="pill"]').on(
			'shown.bs.tab',
			function(e) {
				if (first) { // remove default source on first tab selection
					$('#calendar').fullCalendar('removeEventSource',
							eventSourceDefault);
				    
					console.log('removed default event source')
					first = false
				} else { // every further tab selection
					idTarget = e.relatedTarget.toString();
					idTarget = idTarget.substr(idTarget.indexOf("_") + 1,
							idTarget.length - 3)
					$('#calendar').fullCalendar('removeEventSource',
							eventSource + idTarget);
					console.log('removed event source: ' + idTarget)

				}
				idTarget = e.target.toString();
				idTarget = idTarget.substr(idTarget.indexOf("_") + 1,
						idTarget.length - 3)
				$('#calendar').fullCalendar('addEventSource',
						eventSource + idTarget);
				e_id = idTarget;
				console.log('added event source: ' + idTarget)
				//$('#calendar').fullCalendar('refetchEvents');
			});
	$('#calendar').fullCalendar(
			{
				defaultView : 'agendaWeek',
				events : eventSourceDefault,
				header : {
					left : '',
					center : '',
					right : 'today prev,next'
				},
				// Hier wird dem fullcalendar events array ein Participations array hinzugefügt. 
				// Somit werden den Sessions Teilnehmer zugewiesen

				lang : 'de',
				allDaySlot : false,
				slotDuration : '00:30:00',
				minTime : '08:00:00',
				maxTime : '19:00:00',
				eventStartEditable : false,
				selectable : false,
				slotEventOverlap : false,
				axisFormat : 'H:mm',
				timeFormat : 'H:mm',
				columnFormat : 'dd., D.M',
				contentHeight : 600,
				lazyFetching : true,

				loading : function(bool) {
					if (bool)
						$('#calendar').addClass('loading');
					else
						$('#calendar').removeClass('loading');
				},
				/**
				Bei Click & Drag werden im ausgewählten Zeitraum Sessions erstellt
				 **/
				eventMouseover : function() {
					$(this).css('cursor', 'pointer')
				},
				eventClick : function(event) {
					$("#confirm").modal('show');
					$("#confirm").on('shown.bs.modal',
							function() {
								title = $("#title_" + e_id).text();
								$("#confirm").find("#title").text(title);
								date = event.start
										.format("dddd, Do MMMM YYYY");
								
								$("#confirm").find("#date").text(date);
								time = event.start
								.format("HH:mm")
								+ "-" + event.end.format("HH:mm");
								
								$("#confirm").find("#time").text(time);
								building = $("#b_" + e_id).text();
								room = $("#r_" + e_id).text();
								$("#confirm").find("#building").text(building);
								$("#confirm").find("#room").text(room);
								console.log(event)
								$("#confirm").find("#submit").prop('href','/registerExp/'+event.session_id);								
							})
				},
				eventRender : function(event, element, view) {

					eventFrame = $('#eventFrame').clone();
					eventFrame.show();
					$(element).children().remove();
					datetime = event.start.format("HH:mm") + "-"
							+ event.end.format("HH:mm");
					$(element).prepend($(eventFrame));
					eventFrame.find($('.datetime')).html(datetime);
				}
			});
</script>
}
