@main(null, null) {
<meta charset="utf-8"/>
<div class="page-header">
		<h3>Verfügbare Studien <span class="label label-default">4</span></h3>
	</div>
	<div class="panel-group" id="accordion">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 ">
					<div class="panel panel-default" \>
						<div class="panel-heading">

				
						<button class="btn btn-default btn-sm disabled mb10"><span class="glyphicon glyphicon-star"></span><b> 1.5</b></button>
						<button class="btn btn-default btn-sm disabled mb10"><span class="glyphicon glyphicon-time"></span><b> 45 min</b></button>
						<button data-toggle="modal" data-target="#myModal" class="btn btn-default btn-sm loc mb10" title="Juliuspromenade 8, 97070 Würzburg"><span class="glyphicon glyphicon-map-marker"></span></button> 
						<button class="btn btn-default btn-sm disabled mb10"><span class="glyphicon glyphicon-user"></span><b> 23</b></button>
						<button class="btn btn-success btn-sm disabled mb10"><span class="glyphicon glyphicon-unchecked"></span><b> Verfügbar</b></button>

						
						<h4 class="panel-title">Multitasking III  
						</h4>
						
						</div>

						<div id="collapseOne" class="panel-collapse collapse in">
							<div class="panel-body"> 

							<table class="table" style="border: none">
								<tr class="ghover"> <!-- Onclick this show hide -->
									<!-- sucessive every DAY, open second table for next week? weekends?-->
									<td>
									<button type="button" class="btn btn-default disabled btn-sm">	Mo, <br />23.12.</button>
									</td>
									<td>
									<button type="button" class="btn btn-default disabled btn-sm">	Di, <br />24.12.</button>
									</td>
									<td>
									<button type="button" class="btn btn-default disabled btn-sm">	Mi, <br />25.12.</button>
									</td>
									<td>
									<button type="button" class="btn btn-default disabled btn-sm">	Do, <br />26.12.</button>
									</td>
									<td>
									<button type="button" class="btn btn-default disabled btn-sm">   Fr, <br />27.12.</button>
									</td>
								</tr>

								<tr class="showhide_WEEK_ID">  <!-- needs attention --> 
									<td>
										<div class="btn-group-vertical">
									<button type="button" class="btn btn-default btn-sm">08:00<br /></button>
									<button type="button" class="btn btn-default btn-sm">09:00<br /></button>
									<button type="button" class="btn btn-default btn-sm">10:00 <br /></button>
									<button type="button" class="btn btn-default btn-sm">11:00 <br /></button>
									<button type="button" class="btn btn-default btn-sm">12:00 <br /></button>
									<button type="button" class="btn btn-default btn-sm">13:00 <br /></button>
								</div>
									</td>
										<td>
											<div class="btn-group-vertical">
									<button type="button" class="btn btn-default btn-sm"><span class="label label-success"><a href="#">08:00</a></span><br /></button>
									<button type="button" class="btn btn-default btn-sm"><span class="label label-success">09:00</span><br /></button>
									<button type="button" class="btn btn-default btn-sm">10:00 <br /></button>
									<button type="button" class="btn btn-default btn-sm">11:00 <br /></button>
									<button type="button" class="btn btn-default btn-sm">12:00 <br /></button>
									<button type="button" class="btn btn-default btn-sm">13:00 <br /></button>
											</div>
									</td>
									<td>
											<div class="btn-group-vertical">
  


									<button type="button" class="btn btn-default btn-sm"><span class="label label-success"><a href="#">08:00</a></span><br /></button>
									<button type="button" class="btn btn-default btn-sm"><span class="label label-success">09:00</span><br /></button>
									<button type="button" class="btn btn-default btn-sm">10:00 <br /></button>
									<button type="button" class="btn btn-default btn-sm">11:00 <br /></button>
									<button type="button" class="btn btn-default btn-sm">12:00 <br /></button>
									<button type="button" class="btn btn-default btn-sm">13:00 <br /></button>

								</div>
									</td>
											<td>
											<div class="btn-group-vertical">
  


									<button type="button" class="btn btn-default btn-sm"><span class="label label-success"><a href="#">08:00</a></span><br /></button>
									<button type="button" class="btn btn-default btn-sm"><span class="label label-success">09:00</span><br /></button>
									<button type="button" class="btn btn-default btn-sm">10:00 <br /></button>
									<button type="button" class="btn btn-default btn-sm">11:00 <br /></button>
									<button type="button" class="btn btn-default btn-sm">12:00 <br /></button>
									<button type="button" class="btn btn-default btn-sm">13:00 <br /></button>

								</div>
									</td>
											<td>
											<div class="btn-group-vertical">
  


									<button type="button" class="btn btn-default btn-sm"><span class="label label-success"><a href="#">08:00</a></span><br /></button>
									<button type="button" class="btn btn-default btn-sm"><span class="label label-success">09:00</span><br /></button>
									<button type="button" class="btn btn-default btn-sm">10:00 <br /></button>
									<button type="button" class="btn btn-default btn-sm">11:00 <br /></button>
									<button type="button" class="btn btn-default btn-sm">12:00 <br /></button>
									<button type="button" class="btn btn-default btn-sm">13:00 <br /></button>

								</div>
									</td>

								</tr>

							</table>

								


							<table class="table" style="border: none">
								<tr class="ghover"> <!-- Onclick this show hide -->
									<!-- sucessive every DAY, open second table for next week? weekends?-->
									<td>
									<button type="button" class="btn btn-default disabled btn-sm">	Mo, <br />23.12.</button>
									</td>
									<td>
									<button type="button" class="btn btn-default disabled btn-sm">	Di, <br />24.12.</button>
									</td>
									<td>
									<button type="button" class="btn btn-default disabled btn-sm">	Mi, <br />25.12.</button>
									</td>
									<td>
									<button type="button" class="btn btn-default disabled btn-sm">	Do, <br />26.12.</button>
									</td>
									<td>
									<button type="button" class="btn btn-default disabled btn-sm">   Fr, <br />27.12.</button>
									</td>
								</tr>

								<tr class="showhide_WEEK_ID">  <!-- needs attention --> 
									<td>
										<div class="btn-group-vertical">
									<button type="button" class="btn btn-default btn-sm">08:00<br /></button>
									<button type="button" class="btn btn-default btn-sm">09:00<br /></button>
									<button type="button" class="btn btn-default btn-sm">10:00 <br /></button>
									<button type="button" class="btn btn-default btn-sm">11:00 <br /></button>
									<button type="button" class="btn btn-default btn-sm">12:00 <br /></button>
									<button type="button" class="btn btn-default btn-sm">13:00 <br /></button>
								</div>
									</td>
										<td>
											<div class="btn-group-vertical">
									<button type="button" class="btn btn-default btn-sm"><span class="label label-success"><a href="#">08:00</a></span><br /></button>
									<button type="button" class="btn btn-default btn-sm"><span class="label label-success">09:00</span><br /></button>
									<button type="button" class="btn btn-default btn-sm">10:00 <br /></button>
									<button type="button" class="btn btn-default btn-sm">11:00 <br /></button>
									<button type="button" class="btn btn-default btn-sm">12:00 <br /></button>
									<button type="button" class="btn btn-default btn-sm">13:00 <br /></button>
											</div>
									</td>
									<td>
											<div class="btn-group-vertical">
  


									<button type="button" class="btn btn-default btn-sm"><span class="label label-success"><a href="#">08:00</a></span><br /></button>
									<button type="button" class="btn btn-default btn-sm"><span class="label label-success">09:00</span><br /></button>
									<button type="button" class="btn btn-default btn-sm">10:00 <br /></button>
									<button type="button" class="btn btn-default btn-sm">11:00 <br /></button>
									<button type="button" class="btn btn-default btn-sm">12:00 <br /></button>
									<button type="button" class="btn btn-default btn-sm">13:00 <br /></button>

								</div>
									</td>
											<td>
											<div class="btn-group-vertical">
  


									<button type="button" class="btn btn-default btn-sm"><span class="label label-success"><a href="#">08:00</a></span><br /></button>
									<button type="button" class="btn btn-default btn-sm"><span class="label label-success">09:00</span><br /></button>
									<button type="button" class="btn btn-default btn-sm">10:00 <br /></button>
									<button type="button" class="btn btn-default btn-sm">11:00 <br /></button>
									<button type="button" class="btn btn-default btn-sm">12:00 <br /></button>
									<button type="button" class="btn btn-default btn-sm">13:00 <br /></button>

								</div>
									</td>
											<td>
											<div class="btn-group-vertical">
  


									<button type="button" class="btn btn-default btn-sm"><span class="label label-success"><a href="#">08:00</a></span><br /></button>
									<button type="button" class="btn btn-default btn-sm"><span class="label label-success">09:00</span><br /></button>
									<button type="button" class="btn btn-default btn-sm">10:00 <br /></button>
									<button type="button" class="btn btn-default btn-sm">11:00 <br /></button>
									<button type="button" class="btn btn-default btn-sm">12:00 <br /></button>
									<button type="button" class="btn btn-default btn-sm">13:00 <br /></button>

								</div>
									</td>

								</tr>

							</table>




									<!-- toggle content -->
							



								
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-12 mt15">
					<div class="panel panel-default">
						<div class="panel-heading">
					<div class="panel-heading"><span class="pull-right">
						<button class="btn btn-default btn-sm disabled mb10"><span class="glyphicon glyphicon-star"></span><b> 1.5</b></button>
						<button class="btn btn-default btn-sm disabled mb10"><span class="glyphicon glyphicon-time"></span><b> 45 min</b></button>
						<button class="btn btn-default btn-sm disabled mb10"><span class="glyphicon glyphicon-user"></span><b> 23</b></button>
						<button class="btn btn-success btn-sm disabled mb10"><span class="glyphicon glyphicon-unchecked"></span><b> Verfügbar</b></button>

						</span>

						<h4 class="panel-title">Gestenpräzision</h4>
						</div>
							</div>
						<div id="collapseTwo" class="panel-collapse collapse in">
							<div class="panel-body">
								<div class="btn-group">
								
									<button type="button" class="btn btn-default btn-sm">Di, <br />24.12.</button>
									<button type="button" class="btn btn-default btn-sm">Mi, <br />25.12.</button>
									<button type="button" class="btn btn-default btn-sm">Do, <br />26.12.</button>
									<button type="button" class="btn btn-default btn-sm">Fr, <br />27.12.</button>
									<button type="button" class="btn btn-default btn-sm">Di, <br />24.12.</button>
									<button type="button" class="btn btn-default btn-sm">Mi, <br />25.12.</button>
									<button type="button" class="btn btn-default btn-sm">Do, <br />26.12.</button>
									<button type="button" class="btn btn-default btn-sm">Fr, <br />27.12.</button>
									<button type="button" class="btn btn-default btn-sm">Di, <br />24.12.</button>
									<button type="button" class="btn btn-default btn-sm">Mi, <br />25.12.</button>
									<button type="button" class="btn btn-default btn-sm">Do, <br />26.12.</button>
									<button type="button" class="btn btn-default btn-sm">Fr, <br />27.12.</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-12 mt15">
					<div class="panel panel-default">
						<div class="panel-heading">
<div class="panel-heading"><span class="pull-right">
						<button class="btn btn-default btn-sm disabled mb10"><span class="glyphicon glyphicon-star"></span><b> 1.5</b></button>
						<button class="btn btn-default btn-sm disabled mb10"><span class="glyphicon glyphicon-time"></span><b> 45 min</b></button>
						<button class="btn btn-default btn-sm disabled mb10"><span class="glyphicon glyphicon-user"></span><b> 23</b></button>
						</span>
						<h4 class="panel-title">Multitasking II</h4>
						</div>							</div>

						<div id="collapseThree" class="panel-collapse collapse in">
							<div class="panel-body">
							<div class="btn-group">
									<button type="button" class="btn btn-default btn-sm">Mo, <br />23.12.</button>
									<button type="button" class="btn btn-default btn-sm">Di, <br />24.12.</button>
									<button type="button" class="btn btn-default btn-sm">Mi, <br />25.12.</button>
									<button type="button" class="btn btn-default btn-sm">Do, <br />26.12.</button>
									<button type="button" class="btn btn-default btn-sm">Fr, <br />27.12.</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-12 mt15">
					<div class="panel panel-default">
						<div class="panel-heading">
						<div class="panel-heading"><span class="pull-right">
						<button class="btn btn-default btn-sm disabled mb10"><span class="glyphicon glyphicon-star"></span><b> 1.5</b></button>
						<button class="btn btn-default btn-sm disabled mb10"><span class="glyphicon glyphicon-time"></span><b> 45 min</b></button>
						<button class="btn btn-default btn-sm disabled mb10"><span class="glyphicon glyphicon-user"></span><b> 23</b></button>
						</span><h4 class="panel-title">Touch in VR</h4>
						</div>							</div>

						<div id="collapseFour" class="panel-collapse collapse in">
							<div class="panel-body">
							<div class="btn-group">
									<button type="button" class="btn btn-default btn-sm">Mo, <br />23.12.</button>
									<button type="button" class="btn btn-default btn-sm">Di, <br />24.12.</button>
									<button type="button" class="btn btn-default btn-sm">Mi, <br />25.12.</button>
									<button type="button" class="btn btn-default btn-sm">Do, <br />26.12.</button>
									<button type="button" class="btn btn-default btn-sm">Fr, <br />27.12.</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div> <!-- /row  -->
		</div>
	</div>
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">Anmeldung bestätigen</h4>
				</div>
				<div class="modal-body"><h4>Multitasking III</h4>
					<div><span class="glyphicon glyphicon-time"></span> Dienstag, 24.12.2013, 12:00 - 13:00 Uhr</div>
					<div id="loc" title="Juliuspromenade 8, 97070 Würzburg"><span class="glyphicon glyphicon-globe"></span> Gebäude 82 <span class="label label-default"><a href="www.google.de">Karte</a></span></div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen</button>
					<button type="button" class="btn btn-primary" id="submit" data-loading-text="Laden..." >Anmelden</button>
					<div  id="success" class="hidden">
						<div class="alert alert-success"> Ihre Anmeldung war erfolgreich. </div>
						<button type="button" class="btn btn-default">Termin speichern</button>
						<button type="button" class="btn btn-primary" data-dismiss="modal">Schließen</button>
					</div>
				</div>
			</div>
		</div>
		<!-- /.modal-content --> 
	</div>
	<!-- /.modal-dialog --> 
}