@main(null, null) {
<div class="page-header">
		<h3>Anmeldungen <span class="label label-default">3</span></h3>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-3"><b>Multitasking I</b></div>
			<div class="col-md-3"><span class="glyphicon glyphicon-time"></span> 26.12.2013, 13:00-14:00 Uhr</div>
			<div class="col-md-2"><span class="loc" title="Juliuspromenade 8, 97070 Würzburg"><span class="glyphicon glyphicon-globe"></span> Gebäude 82</span> </div>
			<div class="col-md-4">
				<button class="btn btn-default btn-sm">Karte</button>
				<button class="btn btn-default btn-sm">Termin speichern</button>
				<button class="btn btn-danger btn-sm">Abmelden</button>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-md-3"><b>Multitasking II</b></div>
			<div class="col-md-3"><span class="glyphicon glyphicon-time"></span> 27.12.2013, 15:00-17:00 Uhr</div>
			<div class="col-md-2"><span class="loc" title="Juliuspromenade 8, 97070 Würzburg"><span class="glyphicon glyphicon-globe"></span> Gebäude 82</span> </div>
			<div class="col-md-4">
				<button class="btn btn-default btn-sm">Karte</button>
				<button class="btn btn-default btn-sm">Termin speichern</button>
				<button class="btn btn-danger btn-sm">Abmelden</button>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-md-3"><b>Multitasking III</b></div>
			<div class="col-md-3"><span class="glyphicon glyphicon-time"></span> 29.12.2013, 14:00-15:00 Uhr</div>
			<div class="col-md-2"><span class="loc" title="Juliuspromenade 8, 97070 Würzburg"><span class="glyphicon glyphicon-globe"></span> Gebäude 82</span> </div>
			<div class="col-md-4">
				<button class="btn btn-default btn-sm">Karte</button>
				<button class="btn btn-default btn-sm">Termin speichern</button>
				<button class="btn btn-danger btn-sm">Abmelden</button>
			</div>
		</div>
		
	</div>
</div>
}