@scripts = {
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    
    <script>
    $(document).ready(function(){
    	
    	var myCenter=new google.maps.LatLng(49.785210, 9.976927);
    	var marker=new google.maps.Marker({
    	position:myCenter
    	});
    	
    	var map=    new google.maps.Map(
                 document.getElementById('map-canvas'), 
                  { zoom: 18,
                    center: myCenter,
                    mapTypeId: google.maps.MapTypeId.HYBRID });
    	
    	marker.setMap(map);
    
    	var contentString = '<div id="content">'+
    	'<div id="siteNotice">'+
    	'</div>'+
    	'<h1 id="firstHeading" class="firstHeading">Multitasking</h1>'+
    	'<div id="bodyContent">'+
    	'<p>Bei der Studie<b>"Multitasking"</b> geht es darum,'+
    	'</br>mehrere Aufgaben nebeneinander zu lösen.'+
    	'<p><b>Raum: 00.120</b></p>'

    	'</div>'+
    	'</div>';

    	var infowindow = new google.maps.InfoWindow({
    	    content: contentString
    	});
    
    $('#myMapModal').on('shown.bs.modal', function() {
    	resizeShit();
    	});
    	
    function resizeShit(){	
    var center = map.getCenter();
    google.maps.event.trigger(map, "resize");
    map.setCenter(center); 
	
	
	
	//var infowindow = new google.maps.InfoWindow({
	//  content: contentString
	//});

	google.maps.event.addListener(marker, 'click', function() {
	  infowindow.open(map,marker);
	  });
	
    };
    	
    	
    });
    
    
</script>
}

@main(null, scripts) {
<div class="page-header">
		<h3>Anmeldungen <span class="label label-default">3</span></h3>
	</div>
	<div class="container">


		<div class="row">
			<div class="col-sm-3 col-xs-6"><b>Multitasking I</b></div>
			<div class="col-sm-3 col-xs-6"><span class="glyphicon glyphicon-time"></span> 26.12.2013, 13:00-14:00 Uhr</div>
		<div class="col-sm-3 col-xs-6"><button data-toggle="modal" data-target="#myMapModal" class="btn btn-default btn-sm loc" title="Juliuspromenade 8, 97070 Würzburg"><span class="glyphicon glyphicon-globe"></span></button> Game Box
		<p><b>Raum: 00.120</b></p></div>
			<div class="col-sm-2 col-xs-6">
				<a href="@routes.Assets.at("event.ics")" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-calendar"></span></a>
				<button class="btn btn-danger btn-sm disabled"><span class="glyphicon glyphicon-envelope"></span></button>
				<button class="btn btn-default btn-sm disabled"><span class="glyphicon glyphicon-star"></span><b> 1.5</b></button>
			</div>
		
		</div>
		<hr>

				<div class="row">
			<div class="col-sm-3 col-xs-6"><b>Multitasking I</b></div>
			<div class="col-sm-3 col-xs-6"><span class="glyphicon glyphicon-time"></span> 26.12.2013, 13:00-14:00 Uhr</div>
		<div class="col-sm-3 col-xs-6"><button data-toggle="modal" data-target="#myMapModal" class="btn btn-default btn-sm loc" title="Juliuspromenade 8, 97070 Würzburg"><span class="glyphicon glyphicon-globe"></span></button> Game Box
		<p><b>Raum: 00.120</b></p></div>
			<div class="col-sm-2 col-xs-6">
				<a href="@routes.Assets.at("event.ics")" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-calendar"></span></a>
				<button class="btn btn-danger btn-sm disabled"><span class="glyphicon glyphicon-envelope"></span></button>
				<button class="btn btn-default btn-sm disabled"><span class="glyphicon glyphicon-star"></span><b> 1.5</b></button>
			</div>
		
		</div>
		<hr>
		
		<div class="row">
			<div class="col-sm-3 col-xs-6"><b>Multitasking I</b></div>
			<div class="col-sm-3 col-xs-6"><span class="glyphicon glyphicon-time"></span> 26.12.2013, 13:00-14:00 Uhr</div>
		<div class="col-sm-3 col-xs-6"><button data-toggle="modal" data-target="#myMapModal" class="btn btn-default btn-sm loc" title="Juliuspromenade 8, 97070 Würzburg"><span class="glyphicon glyphicon-globe"></span></button> Game Box
		<p><b>Raum: 00.120</b></p></div>
			<div class="col-sm-2 col-xs-6">
				<a href="@routes.Assets.at("event.ics")" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-calendar"></span></a>
				<button class="btn btn-danger btn-sm disabled"><span class="glyphicon glyphicon-envelope"></span></button>
				<button class="btn btn-default btn-sm disabled"><span class="glyphicon glyphicon-star"></span><b> 1.5</b></button>
			</div>
		
		</div>
		
		
		</div>
		<hr>
			
	


<div class="modal fade" id="myMapModal">
    <div class="modal-dialog"  style="width:40%;height:95%">
        <div class="modal-content" style="height:95%" >
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                 <h4 class="modal-title">Oswald Külpe Weg, Gebäude 82</h4>

            </div>
            <div class="modal-body"style="height:75%">
                <div class="container" style="width:100%;height:100%">
                    <div class="row" style="width:100%;height:100%">
                    
                        <div align="center" id="map-canvas" style="width:100%;height:100%" ></div>
                      
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

}