@scripts = {


}

@main(null,scripts,"registerForm"){

<div class="container">
<div class="col-sm-4 col-sm-offset-3"><h3>Registrierung für Externe:</h3></div>
</div>
<hr>


<div class="container_signin container">



<form role="form">

 <div class="form-group">
    <label>Email:</label>
    <input type="email" class="form-control" id="email" placeholder="Max.Muster@@example.de">
  </div>
					
<div class="form-group">
    <label>Vorname:</label>
    <input type="text" class="form-control" id="firstname" placeholder="Max">
  </div>

<div class="form-group">
    <label>Nachname:</label>
    <input type="text" class="form-control" id="lastname" placeholder="Muster">
  </div>
  
 <div class="form-group">
    <label>Passwort:</label>
    <input type="password" class="form-control" id="password" placeholder="Passwort">
  </div> 

<div class="form-group">  
<label>Geschlecht:</label>					
<div class="radio">
  <label>
    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
    männlich
  </label>
</div>
<div class="radio">
  <label>
    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
    weiblich
  </label>
</div>
</div>

<div class="form-group" >
	<label>Händigkeit</label>
		<div class="radio">
			<label>
				<input type="radio" name="options3" id="optionsRadios1" value="option1" checked>
				Rechts  </label>
			</div>
			<div class="radio">
				<label>
					<input type="radio" name="options3" id="optionsRadios2" value="option2">
					Links  </label>
			</div>
</div>

<div class="row" align="center">
<button class="btn btn-primary">Registrieren</button>
</div>

<div class="row">
<p><span class='light'>Doch schon registriert?</span>
<br>
<a href="/">Hier anmelden</a>	
</p>										
</div>	
										

												




											</form>
</div>

}