@main(null, null, "experimenter") {

<meta charset="utf-8"/>

<div class="page-header">
	<h3>Sessionverwaltung</h3> <h4>Gestenpräsentation </h4>
</div>
<div class="container">


	<div class="row nobm">
		<div class="col-sm-4 col-xs-6"><h4><span class="glyphicon glyphicon-calendar"></span> Montag, 07. Juli 2014</h4></div>

		<div class="col-sm-3 col-xs-6">
			<h4><span class="glyphicon glyphicon-time"></span>
				08:30-09:30</h4></div>
				<div class="col-sm-2 col-xs-6">
					<h4><span class="glyphicon glyphicon-star"></span> VPS</h4></div>
				</div>	

				<div class="row nobm">
					<div class="col-sm-4 col-xs-6 "><h5>
						<span class="glyphicon glyphicon-user"></span> Peter Schuster</h5>
					</div>
					<div class="col-sm-3 col-xs-6">
						<div class="checkbox">
							<label>
								<input type="checkbox" > <b>teilgenommen</b>
							</label>
						</div>
					</div>
					<div class="col-sm-2 col-xs-6">
						<select id="vps" class="form-control">
							<option>0</option>
							<option>0.5</option>
							<option selected>1.0</option>
							<option>1.5</option>
							<option>2.0</option>								
							<option>2.5</option>
							<option>3.0</option>
						</select>
					</div></div>
					<div class="row nobm">
						<div class="col-sm-4 col-xs-6 "><h5>
							<span class="glyphicon glyphicon-user"></span> Felix Schuster</h5>
						</div>
						<div class="col-sm-3 col-xs-6">
							<div class="checkbox">
								<label>
									<input type="checkbox" checked="true"> teilgenommen
								</label>
							</div>
						</div>
						<div class="col-sm-2 col-xs-6">
							<select id="vps" class="form-control">
								<option>0</option>
								<option>0.5</option>
								<option selected>1.0</option>
								<option>1.5</option>
								<option>2.0</option>								
								<option>2.5</option>
								<option>3.0</option>
							</select>
						</div></div>

						<div class="row">
							<div class="col-sm-4 col-xs-6 "><h5>
								<span class="glyphicon glyphicon-user"></span> Max Schuster</h5>
							</div>
							<div class="col-sm-3 col-xs-6">
								<div class="checkbox">
									<label>
										<input type="checkbox" checked="true"> teilgenommen
									</label>
								</div>
							</div>
							<div class="col-sm-2 col-xs-6">
								<select id="vps" class="form-control">
									<option>0</option>
									<option>0.5</option>
									<option selected>1.0</option>
									<option>1.5</option>
									<option>2.0</option>								
									<option>2.5</option>
									<option>3.0</option>
								</select>
							</div></div>



<div class="row nobm">
		<div class="col-sm-4 col-xs-6"><h4><span class="glyphicon glyphicon-calendar"></span> Montag, 07. Juli 2014</h4></div>

		<div class="col-sm-3 col-xs-6">
			<h4><span class="glyphicon glyphicon-time"></span>
				08:30-09:30</h4></div>
				<div class="col-sm-2 col-xs-6">
					<h4><span class="glyphicon glyphicon-star"></span> VPS</h4></div>
				</div>	

				<div class="row nobm">
					<div class="col-sm-4 col-xs-6 "><h5>
						<span class="glyphicon glyphicon-user"></span> Peter Schuster</h5>
					</div>
					<div class="col-sm-3 col-xs-6">
						<div class="checkbox">
							<label>
								<input type="checkbox" checked="true"> teilgenommen
							</label>
						</div>
					</div>
					<div class="col-sm-2 col-xs-6">
						<select id="vps" class="form-control">
							<option>0</option>
							<option>0.5</option>
							<option selected>1.0</option>
							<option>1.5</option>
							<option>2.0</option>								
							<option>2.5</option>
							<option>3.0</option>
						</select>
					</div></div>
					<div class="row nobm">
						<div class="col-sm-4 col-xs-6 "><h5>
							<span class="glyphicon glyphicon-user"></span> Felix Schuster</h5>
						</div>
						<div class="col-sm-3 col-xs-6">
							<div class="checkbox">
								<label>
									<input type="checkbox" checked="true"> teilgenommen
								</label>
							</div>
						</div>
						<div class="col-sm-2 col-xs-6">
							<select id="vps" class="form-control">
								<option>0</option>
								<option>0.5</option>
								<option selected>1.0</option>
								<option>1.5</option>
								<option>2.0</option>								
								<option>2.5</option>
								<option>3.0</option>
							</select>
						</div></div>

						<div class="row">
							<div class="col-sm-4 col-xs-6 "><h5>
								<span class="glyphicon glyphicon-user"></span> Max Schuster</h5>
							</div>
							<div class="col-sm-3 col-xs-6">
								<div class="checkbox">
									<label>
										<input type="checkbox" checked="true"> teilgenommen
									</label>
								</div>
							</div>
							<div class="col-sm-2 col-xs-6">
								<select id="vps" class="form-control">
									<option>0</option>
									<option>0.5</option>
									<option selected>1.0</option>
									<option>1.5</option>
									<option>2.0</option>								
									<option>2.5</option>
									<option>3.0</option>
								</select>
							</div></div>



<div class="row nobm">
		<div class="col-sm-4 col-xs-6"><h4><span class="glyphicon glyphicon-calendar"></span> Montag, 07. Juli 2014</h4></div>

		<div class="col-sm-3 col-xs-6">
			<h4><span class="glyphicon glyphicon-time"></span>
				08:30-09:30</h4></div>
				<div class="col-sm-2 col-xs-6">
					<h4><span class="glyphicon glyphicon-star"></span> VPS</h4></div>
				</div>	

				<div class="row nobm">
					<div class="col-sm-4 col-xs-6 "><h5>
						<span class="glyphicon glyphicon-user"></span> Peter Schuster</h5>
					</div>
					<div class="col-sm-3 col-xs-6">
						<div class="checkbox">
							<label>
								<input type="checkbox" checked="true"> teilgenommen
							</label>
						</div>
					</div>
					<div class="col-sm-2 col-xs-6">
						<select id="vps" class="form-control">
							<option>0</option>
							<option>0.5</option>
							<option selected>1.0</option>
							<option>1.5</option>
							<option>2.0</option>								
							<option>2.5</option>
							<option>3.0</option>
						</select>
					</div></div>
					<div class="row nobm">
						<div class="col-sm-4 col-xs-6 "><h5>
							<span class="glyphicon glyphicon-user"></span> Felix Schuster</h5>
						</div>
						<div class="col-sm-3 col-xs-6">
							<div class="checkbox">
								<label>
									<input type="checkbox" checked="true"> teilgenommen
								</label>
							</div>
						</div>
						<div class="col-sm-2 col-xs-6">
							<select id="vps" class="form-control">
								<option>0</option>
								<option>0.5</option>
								<option selected>1.0</option>
								<option>1.5</option>
								<option>2.0</option>								
								<option>2.5</option>
								<option>3.0</option>
							</select>
						</div></div>

						<div class="row">
							<div class="col-sm-4 col-xs-6 "><h5>
								<span class="glyphicon glyphicon-user"></span> Max Schuster</h5>
							</div>
							<div class="col-sm-3 col-xs-6">
								<div class="checkbox">
									<label>
										<input type="checkbox" checked="true"> teilgenommen
									</label>
								</div>
							</div>
							<div class="col-sm-2 col-xs-6">
								<select id="vps" class="form-control">
									<option>0</option>
									<option>0.5</option>
									<option selected>1.0</option>
									<option>1.5</option>
									<option>2.0</option>								
									<option>2.5</option>
									<option>3.0</option>
								</select>
							</div></div>



							<hr>





							<div  class="row">
								<div class="col-sm-2 col-sm-offset-5">
									<a href="/myStudies"><button class="btn btn-primary">Speichern</button></a>
								</div>


							</div>



						</div>	









					}