@scripts = {
<link rel='stylesheet' href='@routes.Assets.at("stylesheets/fullcalendar.css")' />
<script src='@routes.Assets.at("javascripts/jquery-ui.custom.min.js")'></script>
<script src='@routes.Assets.at("javascripts/jquery.ui.touch-punch.min.js")'></script>
<script src='@routes.Assets.at("javascripts/moment-with-langs.min.js")'></script>
<script src='@routes.Assets.at("javascripts/fullcalendar.min.js")'></script>
}
@main(null, scripts, "experimenter") {
<div role="main" class="container main">
	<div class="page-header">
		<h2>Neue Studie erstellen</h2>
	</div>
	<form class="form-horizontal" role="form" action="/sessions">
		<div class="form-group">
			<label for="name" class="col-sm-3 control-label">Name</label>
			<div class="col-sm-7">
				<input type="text" name="name" class="form-control" id="name" placeholder="Name der Studie" autofocus>
			</div>
		</div>
		<div class="form-group">
			<label for="description" class="col-sm-3 control-label">Beschreibung</label>
			<div class="col-sm-7">
				<textarea class="form-control" name="description" rows="4" id="description" placeholder="Beschreibung der Studie"></textarea>
			</div>
		</div>
		<div class="form-group">
			<label for="description" class="col-sm-3 control-label">Typ</span></label>
			<div class="col-sm-6">
				<div class="btn-group">
					<label class="btn btn-default">
						<input type="radio" name="options" id="option1" checked>
						Labor </label>
						<label class="btn btn-default">
							<input type="radio" name="options" id="option2">
							Internet </label>
						</div>
					</div>
				</div>			
				<hr>
<div class="form-group inline">
					<label for="" class="col-sm-3 control-label">Ort</label>
					<div class="col-sm-3">
						<select id="" class="form-control">
							<option>Gebäude 82</option>
							<option>ZfM</option>
							<option>Institut für Informatik</option>
						</select> 
					</div>
					<div class="col-sm-3">
						<select id="" class="form-control">
							<option>1.005</option>
							<option>2.006</option>
							<option>Black Box</option>
						</select>
					</div>
				</div>
				<hr>
				<div class="form-group inline">
					<label for="duration" class="col-sm-3 control-label">Dauer</label>
					<div class="col-sm-3">
						<span class="glyphicon glyphicon-time"></span>
						<select id="duration" class="form-control">
							<option>5</option>
							<option>10</option>
							<option>15</option>
							<option>20</option>								
							<option>30</option>
							<option>45</option>
							<option selected>60</option>
							<option>75</option>
							<option>90</option>
							<option>120</option>
						</select> Minuten
					</div>
					<div class="col-sm-3">
						<span class="glyphicon glyphicon-star"></span>
						<select id="vps" class="form-control">
							<option>0.5</option>
							<option selected>1.0</option>
							<option>1.5</option>
							<option>2.0</option>								
							<option>2.5</option>
							<option>3.0</option>
						</select> VP-Stunden
					</div>
				</div>
				<div class="form-group">
					<label for="description" class="col-sm-3 control-label">Sitzungen</label>
					<div class="col-sm-8">
						<div class="row">
							<div class="col-sm-4">
								<button type="button" class="btn btn-default" id="add" data-toggle="modal" data-target="#sessionCalendar"><span class="glyphicon glyphicon-calendar"></span> Kalender</button>
							</div>
						</div>
						<div id="events">

						</div>

					</div>
				</div>
				<hr>
				<div class="form-group inline">
					<label for="description" class="col-sm-3 control-label">Probanden</label>
			<div class="col-sm-3">
				pro Session: <select id="hour" class="form-control noBreak">
									<option>1</option>
									<option>2</option>
									<option>3</option>
									<option>4</option>
									<option>5</option>
									<option>6</option>
									<option>7</option>
									<option>8</option>
									<option>9</option>
									<option>10</option>
								</select> Teilnehmer
					</div>
					<div class="col-sm-2">
								<button type="button" class="btn btn-default" data-toggle="modal" data-target="#probands"><span class="glyphicon glyphicon-filter"></span> Filtern</button>
					</div>
					<div class="col-sm-2">
						<div class="checkbox">
								<label><input type="checkbox" class="form-control" checked>Einladungen senden</label>
					</div>
					</div>
				</div>
				<div class="form-group">
					<label for="description" class="col-sm-3 control-label">Versuchsleiter</span></label>
					<div class="col-sm-6">
						<button type="button" class="btn btn-default" id="me" disabled>Ich</button>
						
<button type="button" class="btn btn-default removeExp" style="display:none">Max Mustermann <span class="glyphicon glyphicon-remove"></span></button>
  </div>
						<div class="col-sm-3">
						<button type="button" class="btn btn-default" id="add" data-toggle="modal" data-target="#modalAddPersons"><span class="glyphicon glyphicon-user"> <span class="glyphicon glyphicon-plus"></span></button>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-8" style="margin-top:1em; border-top:1px solid #eee; padding-top:1em">
						<button type="submit" class="btn btn-primary btn-lg pull-right"><span class="glyphicon glyphicon-ok"></span> Speichern</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="modal fade" id="sessionCalendar">
		<div class="modal-dialog modal-lg mo">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<button type="button" class="btn btn-primary pull-right" data-dismiss="modal">Speichern</button>
					<h4 class="modal-title">Sitzungen</h4>
						<!-- <div class="row sessionsAuto">
							<div class="col-sm-4" style="width:30%"><h4 class="modal-title">Termine hinzufügen</h4></div>
							<div class="col-sm-3" style="width:20%">
								<label for="hour">von: </label>
								<select id="hour" class="form-control noBreak">
									<option>08</option>
									<option>09</option>
									<option>10</option>
									<option>11</option>
									<option>12</option>
									<option>13</option>
									<option>14</option>
									<option>15</option>
									<option>16</option>
									<option>17</option>
									<option>18</option>
								</select>
								<select id="minute" class="form-control noBreak">
									<option>00</option>
									<option>15</option>
									<option>30</option>
									<option>45</option>
								</select>
							</div>

							<div class="col-sm-3"  style="width:20%">
								<label for="hour2">bis: </label>
								<select id="hour2" class="form-control noBreak">
									<option>08</option>
									<option>09</option>
									<option>10</option>
									<option>11</option>
									<option>12</option>
									<option>13</option>
									<option>14</option>
									<option>15</option>
									<option>16</option>
									<option selected>17</option>
									<option>18</option>
								</select>
								<select id="minute2" class="form-control noBreak">
									<option>00</option>
									<option>15</option>
									<option>30</option>
									<option>45</option>
								</select>
							</div>

							<div class="col-sm-3">
								<label for="break">Pause: </label>
								<select id="break" class="form-control noBreak">
									<option>15 Minuten</option>
									<option>30 Minuten</option>
									<option>45 Minuten</option>
									<option>60 Minuten</option>
								</select>
							</div>
						</div> -->
					</div>
					<div class="modal-body">
						<div id="calendar"></div>

					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" data-dismiss="modal">Speichern</button>
					</div>
				</div>
				<!-- /.modal-content --> 
			</div>
			<!-- /.modal-dialog --> 
		</div>
		<!-- /.modal --> 


		<div class="modal fade" id="probands">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title">Probanden auswählen</h4>

					</div>
					<div class="modal-body">

						<form class="form-horizontal" role="form" action="/sessions">
							<div class="form-group">
								<label for="name" class="col-sm-3 control-label">Probandenpool</label>
								<div class="col-sm-8">
									<div class="btn-group">
										<label class="btn btn-default">
											<input type="checkbox" name="options" id="option1" checked>
											Studenten </label>
											<label class="btn btn-default">
												<input type="checkbox" name="options" id="option2" checked>
												Externe </label>
											</div>
										</div>
									</div>
									<div class="form-group">
								<label for="name" class="col-sm-3 control-label">Geschlecht</label>
								<div class="col-sm-8">
									<div class="btn-group">
										<label class="btn btn-default">
											<input type="checkbox" name="options" id="option1" checked>
											männlich </label>
											<label class="btn btn-default">
												<input type="checkbox" name="options" id="option2" checked>
												weiblich </label>
											</div>
										</div>
									</div>
							<div class="form-group inline">
								<label for="duration" class="col-sm-3 control-label">Semester</label>
								<div class="col-sm-5">
									von: <select id="semesterFrom" class="form-control">
										<option>unbegrenzt</option>
										<option>1</option>
										<option>2</option>
										<option>3</option>								
										<option>4</option>
										<option>5</option>
										<option>6</option>
										<option>7</option>
										<option>8</option>
									</select> 
									bis: <select id="semesterUntil" class="form-control">
										<option>unbegrenzt</option>
										<option>1</option>
										<option>2</option>
										<option>3</option>								
										<option>4</option>
										<option>5</option>
										<option>6</option>
										<option>7</option>
										<option>8</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label for="name" class="col-sm-3 control-label">Vorherige Studien</label>
								<div class="col-sm-8">
									<div class="btn-group">
										<label class="btn btn-default">
											<input type="checkbox" name="options" id="option1" checked>
											Meine Studien </label>
											<label class="btn btn-default">
												<input type="checkbox" name="options" id="option2" checked>
											Mein Lehrstuhl </label>
											<button type="button" id="searchStudies" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
											</div>

									</div>
								</form>
							</div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-primary" data-dismiss="modal">Speichern</button>
							</div>
						</div>
						<!-- /.modal-content --> 
					</div>
					<!-- /.modal-dialog --> 
				</div>
				<!-- /.modal --> 



				<div class="row" style="display:none" id="event">
					<div class="col-xs-5"><span class="glyphicon glyphicon-calendar"></span> <span id="date"><span></div>
					<div class="col-xs-4"><span class="glyphicon glyphicon-time"></span> <span id="time"><span></div>
					<div class="col-xs-3">
						<button type="button" class="btn btn-danger btn-sm eventdel"><span class="glyphicon glyphicon-remove"></span></button>
					</div>
				</div>
				<div class="modal fade" id="modalAddPersons">
	<div class="modal-dialog mo">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Versuchsleiter hinzufügen</h4>
			</div>
			<div class="modal-body">
		<div class="row">
			<div class="col-sm-12">
				<input type="text" name="name" class="form-control" id="expSearch" placeholder="Name des Versuchsleiter" autofocus>
				</div>
				</div>
				<div class="row" id="exp" style="display:none">
					<div class="col-xs-9">Max Mustermann</div>
					<div class="col-xs-3">
						<button type="button" class="btn btn-primary" id="addExp"><span class="glyphicon glyphicon-plus"></span></button>
					</div>
				</div>
				</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal">Speichern</button>
			</div>
		</div>
		<!-- /.modal-content --> 
	</div>
	<!-- /.modal-dialog --> 
</div>
<!-- /.modal --> 
				<link rel="stylesheet" href="@routes.Assets.at("stylesheets/slider.css")"></script>
				<script src="@routes.Assets.at("javascripts/bootstrap-slider.js")"></script> 
				<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script> 
				<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/localization/messages_de.js"></script> 
				<script>

				$('#duration').on('change', function() {
					h = parseInt($(this).val())/60;
					h = (Math.round(h * 2) / 2).toFixed(1);
					if(h == 0)
						h = 0.5;
					$("#vps").val(h);
				});
				
$('#searchStudies').on("click", function() {
	$("#search").show()
})




				events = new Array();
				$('#calendar').fullCalendar({
					defaultView: 'agendaWeek',
					header: {
						left:   '',
						center: '',
						right:  'today prev,next'
					},
					lang: 'de',
					allDaySlot: false,
					slotDuration: '00:15:00',
					minTime: '08:00:00',
					maxTime: '19:00:00',
					eventStartEditable: true,
					selectable: true,
					axisFormat: 'H:mm',
					timeFormat: 'H:mm',
					contentHeight: 1200,
					select: function(start, end) {
						var eventData;
						m =parseInt($("#duration option:selected").text());
						end = $.fullCalendar.moment(start).add('m',m);
						eventData = {
							title: '',
							start: start,
							end: end,
						};
						//events.push(eventData);
						$('#calendar').fullCalendar('unselect');
						$('#calendar').fullCalendar('renderEvent', eventData, true); // stick? = true
					},
					eventMouseover: function(calEvent, jsEvent, view) {
						$(this).css('background-color', 'red');
					},
					eventMouseout: function(calEvent, jsEvent, view) {
						$(this).css('background-color', 'none');
					},
					eventClick: function(calEvent, jsEvent, view) {
						$('#calendar').fullCalendar('removeEvents',calEvent._id);
					},

				});
$('#sessionCalendar').on('shown.bs.modal', function () {
	$('#calendar').fullCalendar('render');
});

$('#sessionCalendar').on('hidden.bs.modal', function (e) {
	events = $('#calendar').fullCalendar( 'clientEvents');
	$("#events").children().remove();
	$.each(events, function (key, value) {
		e = $("#event").clone();
		date = value.start.format("dddd, Do MMMM YYYY");
		time = value.start.format("h:mm")+"-"+value.end.format("h:mm");
		e.find("#date").text(date);
		e.find("#time").text(time);
		e.prop("id",value._id);
		$("#events").append(e);
		e.show();
	});
	$(".eventdel").on("click", function() {
		id = $(this).parent().parent().prop('id');
		$(this).parent().parent().remove();
		$('#calendar').fullCalendar('removeEvents',id);
		$('#calendar').fullCalendar('rerenderEvents');
	})
});			
$('#modalAddPersons').on('shown.bs.modal', function () {
	$('#addExp').click(function () {
		$(this).attr('disabled',true);
		$('.removeExp').show()
	})
	$('#expSearch').on('keypress', function () {
	if($('#expSearch').val().length == 1) {
		$('#exp').show();
		
		}
	})
});
$(document).ready(function(){

	$('.form-horizontal').validate(
	{
		rules: {
			name: {
				minlength: 6,
				required: true
			},
			description: {
				minlength: 6,
				required: true,
			},
			duration: {
				required: true,
				digits:true,
				range: [15,600]
			}
		},
		highlight: function(element) {
			$(element).closest('.form-group').addClass('has-error');
		},
		unhighlight: function(element) {
			$(element).closest('.form-group').removeClass('has-error');

		}
	});
});
</script>
}