@scripts = {
<link rel='stylesheet' href='@routes.Assets.at("stylesheets/fullcalendar.css")' />
<script src='@routes.Assets.at("javascripts/jquery-ui.custom.min.js")'></script>
<script src='@routes.Assets.at("javascripts/jquery.ui.touch-punch.min.js")'></script>
<script src='@routes.Assets.at("javascripts/moment-with-langs.min.js")'></script>
<script src='@routes.Assets.at("javascripts/fullcalendar.min.js")'></script>
}
@main(null, scripts) {
<div role="main" class="container main">
	<div class="page-header">
		<h2>Neue Studie erstellen</h2>
	</div>
	<form class="form-horizontal" role="form">
		<div class="form-group">
			<label for="name" class="col-sm-2 control-label">Name</label>
			<div class="col-sm-8">
				<input type="text" name="name" class="form-control" id="name" placeholder="Name der Studie" autofocus>
			</div>
		</div>
		<div class="form-group">
			<label for="description" class="col-sm-2 control-label">Beschreibung</label>
			<div class="col-sm-8">
				<textarea class="form-control" name="description" rows="4" id="description" placeholder="Beschreibung der Studie"></textarea>
			</div>
		</div>
		<div class="form-group dur">
			<label for="duration" class="col-sm-2 control-label">Dauer</label>
			<div class="col-sm-2">
							<select id="duration" class="form-control">
									<option val="5">5</option>
									<option val="10">10</option>
									<option val="15">15</option>
									<option val="20">20</option>								
									<option val="30">30</option>
									<option val="45">45</option>
									<option val="60">60</option>
									<option val="75">75</option>
									<option val="90">90</option>
									<option val="120">120</option>
							</select> Minuten
				</div>
				<div class="col-sm-2">
					<label>VPS</label>
					<select id="vps" class="form-control">
									<option val="0.5">0.5</option>
									<option val="1">1</option>
									<option val="1.5">1.5</option>
									<option val="2">2</option>								
									<option val="2.5">2.5</option>
									<option val="3">3</option>
							</select> VPS
				</div>
			</div>
			<div class="form-group">
				<label for="description" class="col-sm-2 control-label">Typ</label>
				<div class="col-sm-6">
					<div class="btn-group">
						<label class="btn btn-default">
							<input type="radio" name="options" id="option1" checked>
							Labor </label>
							<label class="btn btn-default">
								<input type="radio" name="options" id="option2">
								Internet </label>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label for="description" class="col-sm-2 control-label">Versuchsleiter</label>
						<div class="col-sm-6">
							<button type="button" class="btn btn-default" id="me">Ich</button>
							<button type="button" class="btn btn-default" id="add"><span class="glyphicon glyphicon-plus"></span> Hinzufügen</button>
						</div>
					</div>
					<div class="form-group">
						<label for="description" class="col-sm-2 control-label">Termine</label>
						<div class="col-sm-8">
							<div class="row">
								<div class="col-sm-4">
							<button type="button" class="btn btn-default" id="add" data-toggle="modal" data-target="#sessionCalendar"><span class="glyphicon glyphicon-plus"></span> Hinzufügen</button>
						</div>
					</div>
						<div id="events">
						
					</div>
					
					</div>
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-8" style="margin-top:1em; border-top:1px solid #eee; padding-top:1em">
							<button type="submit" class="btn btn-primary btn-lg pull-right">Speichern</button>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="modal fade" id="sessionCalendar">
			<div class="modal-dialog modal-lg mo">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

						<div class="row sessionsAuto">
							<div class="col-sm-4" style="width:30%"><h4 class="modal-title">Termine hinzufügen</h4></div>
							<div class="col-sm-3" style="width:20%">
								<label for="hour">von: </label>
								<select id="hour" class="form-control noBreak">
									<option>08</option>
									<option>09</option>
									<option>10</option>
									<option>11</option>
									<option>12</option>
									<option>13</option>
									<option>14</option>
									<option>15</option>
									<option>16</option>
									<option>17</option>
									<option>18</option>
								</select>
								<select id="minute" class="form-control noBreak">
									<option>00</option>
									<option>15</option>
									<option>30</option>
									<option>45</option>
								</select>
							</div>

							<div class="col-sm-3"  style="width:20%">
								<label for="hour2">bis: </label>
								<select id="hour2" class="form-control noBreak">
									<option>08</option>
									<option>09</option>
									<option>10</option>
									<option>11</option>
									<option>12</option>
									<option>13</option>
									<option>14</option>
									<option>15</option>
									<option>16</option>
									<option selected>17</option>
									<option>18</option>
								</select>
								<select id="minute2" class="form-control noBreak">
									<option>00</option>
									<option>15</option>
									<option>30</option>
									<option>45</option>
								</select>
							</div>

							<div class="col-sm-3">
								<label for="break">Pause: </label>
								<select id="break" class="form-control noBreak">
									<option>15 Minuten</option>
									<option>30 Minuten</option>
									<option>45 Minuten</option>
									<option>60 Minuten</option>
								</select>
							</div>
						</div>
					</div>
					<div class="modal-body">
						<div id="calendar"></div>

					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" data-dismiss="modal">Speichern</button>
					</div>
				</div>
				<!-- /.modal-content --> 
			</div>
			<!-- /.modal-dialog --> 
		</div>
		<!-- /.modal --> 
	<div class="row" style="display:none" id="event">
							<div class="col-sm-6"><span class="glyphicon glyphicon-calendar"></span> <span id="date"><span></div>
							<div class="col-sm-3"><span class="glyphicon glyphicon-time"></span> <span id="time"><span></div>
							<div class="col-sm-3">
								<button type="button" class="btn btn-danger btn-sm eventdel"><span class="glyphicon glyphicon-remove"></span></button>
							</div>
						</div>
			<link rel="stylesheet" href="@routes.Assets.at("stylesheets/slider.css")"></script>
			<script src="@routes.Assets.at("javascripts/bootstrap-slider.js")"></script> 
			<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script> 
			<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/localization/messages_de.js"></script> 
			<script>

			$('#duration').on('change', function() {
				$("#dur").val($('#duration').text());
			});
			c1 = '<div class="list-group" style="margin:0"><a href="#" class="list-group-item" id="1">Max Mustermann</a><a href="#" class="list-group-item">Petra Musterfrau</a></div>';
			$('#add').popover({ trigger: 'click', html: true, placement: "auto right", content: c1});



			$("table.calendar tr td").not("table.calendar tr td:nth-child(1)").hover(function() {
				if($(this).children().length == 0){ 
					$(this).append($("#date").clone().show())
				}
			}, function() {
				if(!$(this).children().first().hasClass("saved")) {
					$(this).html('');
				}
			});
			$("table.calendar tr td").on("click", function() {
				if($(this).data('datetime') != null) {
					str = $(this).data('datetime');
					ms = Date.parse(str);
					d = new Date(ms);
					alert(d)
				}
				$(this).html("");
				$(this).append($("#saved").clone().show());
				$(cl) = $(".cl").clone();
				$(this).children().first().append($(cl));
			});
			events = new Array();
			eventData = {
							start: '2014-07-07T14:00',
							end: '2014-07-07T16:00',
						};
			events.push(eventData);
			$('#sessionCalendar').on('shown.bs.modal', function (e) {
				$('#calendar').fullCalendar({
					defaultView: 'agendaWeek',
					header: {
						left:   '',
    					center: '',
 					    right:  'today prev,next'
					},
					lang: 'de',
					allDaySlot: false,
					slotDuration: '00:15:00',
					minTime: '08:00:00',
					maxTime: '19:00:00',
					eventStartEditable: true,
					selectable: true,

					select: function(start, end) {
						var eventData;
						end = $.fullCalendar.moment(start).add('m',$("#dur").val());
						eventData = {
							start: start,
							end: end,
						};
						events.push(eventData);
						$('#calendar').fullCalendar('renderEvent', eventData, true); // stick? = true
						$('#calendar').fullCalendar('unselect');
					},
					eventMouseover: function(calEvent, jsEvent, view) {
						$(this).css('background-color', 'red');
					},
					eventMouseout: function(calEvent, jsEvent, view) {
						$(this).css('background-color', 'none');
					},
					eventClick: function(calEvent, jsEvent, view) {
						$('#calendar').fullCalendar('removeEvents',calEvent._id);
    				},
	});
				
				$('#sessionCalendar').on('hidden.bs.modal', function (e) {
				events = $('#calendar').fullCalendar( 'clientEvents');
				$("#events").children().remove();
				$.each(events, function (key, value) {
					e = $("#event").clone();
					date = value.start.format("dddd, Do MMMM YYYY");
					time = value.start.format("h:mm");
					e.find("#date").text(date);
					e.find("#time").text(time);
					e.prop("id",value._id);
					$("#events").append(e);
					e.show();
				});
				$(".eventdel").on("click", function() {
					id = $(this).parent().parent().prop('id');
					$(this).parent().parent().remove();
					$('#calendar').fullCalendar('removeEvents',id);
					$('#calendar').fullCalendar('refetchEvents');
				})
			});
$('#calendar').fullCalendar( 'addEventSource', events);
			
});


$(document).ready(function(){

	$('.form-horizontal').validate(
	{
		rules: {
			name: {
				minlength: 6,
				required: true
			},
			description: {
				minlength: 6,
				required: true,
			},
			duration: {
				required: true,
				digits:true,
				range: [15,600]
			}
		},
		highlight: function(element) {
			$(element).closest('.form-group').addClass('has-error');
		},
		unhighlight: function(element) {
			$(element).closest('.form-group').removeClass('has-error');

		}
	});
});
</script>
}