@main(null,null){
<!-- Eigentlich schon in main, aber hat er nochmal gebraucht -->
<meta charset="utf-8"/>

<div class="container">
            <ul class="nav nav-tabs">
            
            	<li class="active">
            		<a data-toggle="tab" href='#tab-laufend'>Laufende Studien</a>
            	</li>
            	
            	<li>
            		<a data-toggle="tab" href='#tab-abgeschlossen'>Abgeschlossene Studien</a>
            	</li>
            
            </ul>
 
        
        
        
        
        <div class="tab-content">
        <div class="myStudies_ListView tab-pane active" id="tab-laufend">
        
       <div class="row">
			<div class="col-md-3"><b>Multitasking I</b></div>
			<div class="col-md-2"><span class="loc" title="Juliuspromenade 8, 97070 Würzburg"><span class="glyphicon glyphicon-globe"></span> Gebäude 82</span> </div>
			<div class="col-md-4">
				
				<button class="btn btn-primary" type="submit">Bearbeiten</button>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3"><b>Multitasking II</b></div>
			<div class="col-md-2"><span class="loc" title="Juliuspromenade 8, 97070 Würzburg"><span class="glyphicon glyphicon-globe"></span> Gebäude 82</span> </div>
			<div class="col-md-4">
				
				<button class="btn btn-primary">Bearbeiten</button>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3"><b>Multitasking III</b></div>
			<div class="col-md-2"><span class="loc" title="Juliuspromenade 8, 97070 Würzburg"><span class="glyphicon glyphicon-globe"></span> Gebäude 82</span> </div>
			<div class="col-md-4">
				
				<button class="btn btn-primary">Bearbeiten</button>
			</div>
		</div>
		
		
		</div>
		
		
		<div class="myStudies_ListView tab-pane" id="tab-abgeschlossen">
        
        <div class="row">
			<div class="col-md-3"><b>Abgeschlossen I</b></div>
			<div class="col-md-2"><span class="loc" title="Juliuspromenade 8, 97070 Würzburg"><span class="glyphicon glyphicon-globe"></span> Gebäude 82</span> </div>
			<div class="col-md-4">
				
				<button class="btn btn-primary">Bearbeiten</button>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3"><b>Abgeschlossen II</b></div>
			<div class="col-md-2"><span class="loc" title="Juliuspromenade 8, 97070 Würzburg"><span class="glyphicon glyphicon-globe"></span> Gebäude 82</span> </div>
			<div class="col-md-4">
				
				<button class="btn btn-primary">Bearbeiten</button>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3"><b>Abgeschlossen III</b></div>
			<div class="col-md-2"><span class="loc" title="Juliuspromenade 8, 97070 Würzburg"><span class="glyphicon glyphicon-globe"></span> Gebäude 82</span> </div>
			<div class="col-md-4">
				
				<button class="btn btn-primary">Bearbeiten</button>
			</div>
		</div>
		
		
		</div>
        </div>
        
        </div>









}