@main(null, null, "experimenter") {

         <div class="page-header">
		<h3>Meine Studien</h3>
	</div>
	<h4>Laufende Studien <span class="label label-default">3</span></h4>
		<hr>
		<div class="row">
			<div class="col-sm-3"><b>Multitasking I</b></div>
			
			<div class="col-sm-5 inline">
			<span class="glyphicon glyphicon-user"></span> 65/100 		
			<div class="progress">
  			<span class="progress-value"></span>		
  			<div class="progress-bar progress-bar-success progress-bar-striped" style="width: 65%">
    				
  			</div>
			</div>  
			</div>
			<div class="col-sm-3 col-sm-offset-1">
					<a href="/edit"><button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-pencil"></span> Bearbeiten</button></a>
					
				
				</div>
		</div>

		<div class="row">
			<div class="col-sm-3"><b>Multitasking II</b></div>
			
			<div class="col-sm-5 inline">
			<span class="glyphicon glyphicon-user"></span> 15/100 		
			<div class="progress">
  			<span class="progress-value"></span>		
  			<div class="progress-bar progress-bar-warning progress-bar-striped" style="width: 15%">
    				
  			</div>
			</div>  
			</div>
			<div class="col-sm-3 col-sm-offset-1">
					<a href="/edit"><button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-pencil"></span> Bearbeiten</button></a>
					
				
				</div>
		</div>

		<div class="row">
			<div class="col-sm-3"><b>Schlafentzug</b></div>
			
			<div class="col-sm-5 inline">
			<span class="glyphicon glyphicon-user"></span> 85/100 		
			<div class="progress">
  			<span class="progress-value"></span>		
  			<div class="progress-bar progress-bar-success progress-bar-striped" style="width: 85%">
    				
  			</div>
			</div>  
			</div>
			<div class="col-sm-3 col-sm-offset-1">
					<a href="/edit"><button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-pencil"></span> Bearbeiten</button></a>
					
				
				</div>
		</div>
		<hr>
		<h4>Abgeschlossene Studien <span class="label label-default">3</span></h4>
		<hr>
		<div class="row">
			<div class="col-sm-3"><b>Multitasking I</b></div>
			
			<div class="col-sm-5 inline">
			<span class="glyphicon glyphicon-user"></span> 65/100 		
			<div class="progress">
  			<span class="progress-value"></span>		
  			<div class="progress-bar progress-bar-success progress-bar-striped" style="width: 65%">
    				
  			</div>
			</div>  
			</div>
			<div class="col-sm-3 col-sm-offset-1">
					<a href="/edit"><button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-pencil"></span> Bearbeiten</button></a>
					
				
				</div>
		</div>

		<div class="row">
			<div class="col-sm-3"><b>Multitasking II</b></div>
			
			<div class="col-sm-5 inline">
			<span class="glyphicon glyphicon-user"></span> 15/100 		
			<div class="progress">
  			<span class="progress-value"></span>		
  			<div class="progress-bar progress-bar-warning progress-bar-striped" style="width: 15%">
    				
  			</div>
			</div>  
			</div>
			<div class="col-sm-3 col-sm-offset-1">
					<a href="/edit"><button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-pencil"></span> Bearbeiten</button></a>
					
				
				</div>
		</div>

		<div class="row">
			<div class="col-sm-3"><b>Schlafentzug</b></div>
			
			<div class="col-sm-5 inline">
			<span class="glyphicon glyphicon-user"></span> 85/100 		
			<div class="progress">
  			<span class="progress-value"></span>		
  			<div class="progress-bar progress-bar-success progress-bar-striped" style="width: 85%">
    				
  			</div>
			</div>  
			</div>
			<div class="col-sm-3 col-sm-offset-1">
					<a href="/edit"><button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-pencil"></span> Bearbeiten</button></a>
					
				
				</div>
		</div>
		
}