@main(null, null, "experimenter") {

<div class="page-header">
	<h3>Meine Studien</h3>
</div>
<h4>Laufende Studien <span class="label label-default">3</span></h4>
<hr>
<div class="row">
	<div class="col-sm-3"><b>Multitasking II</b></div>
	<div class="col-sm-2"><span class="glyphicon glyphicon-user"></span> 30 Teilnahmen 
	</div>
	
	<div class="col-sm-3">
<span class="glyphicon glyphicon-user"></span> 65/100 angemeldet	
		
		<div class="progress">
  			<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 65%"></div>
    		<span class="sr-only">65% Complete (success)</span>
  		</div>
  	</div>	
  		

	<div class="col-sm-4">
		<a href="/completeStudy"><button class="btn btn-warning tool" data-toggle="tooltip" data-placement="top" title="Sessions Abschließen - 1 Neue"><span class="glyphicon glyphicon-ok"></span> </button></a>
		<a href="/completeStudy"><button class="btn btn-default tool" data-toggle="tooltip" data-placement="top" title="Kalender Anzeigen"><span class="glyphicon glyphicon-calendar"></span> </button></a>
		<button class="btn btn-default tool" data-toggle="modal" data-target=".invite" toggle="tooltip" data-placement="top" title="Einladungen Verschicken"><span class="glyphicon glyphicon-envelope" ></span></button>
		<a href="/edit"><button class="btn  btn-default tool" data-toggle="tooltip" data-placement="top" title="Studie Bearbeiten"><span class="glyphicon glyphicon-pencil"></span> </button></a>

	</div>

</div>

<div class="row">
	<div class="col-sm-3"><b>Filmstudie</b></div>
	<div class="col-sm-2"><span class="glyphicon glyphicon-user"></span> 35 Teilnahmen 
	</div>
	
	<div class="col-sm-3">
<span class="glyphicon glyphicon-user"></span> 50/100 angemeldet	
		
		<div class="progress">
  			<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%"></div>
    		<span class="sr-only">50% Complete (success)</span>
  		</div>
  	</div>	
  		

	<div class="col-sm-4">
		<a href="/completeStudy"><button class="btn btn-warning tool" data-toggle="tooltip" data-placement="top" title="Sessions Abschließen - 1 Neue"><span class="glyphicon glyphicon-ok"></span> </button></a>
		<a href="/completeStudy"><button class="btn btn-default tool" data-toggle="tooltip" data-placement="top" title="Kalender Anzeigen"><span class="glyphicon glyphicon-calendar"></span> </button></a>
		<button class="btn btn-default tool" data-toggle="modal" data-target=".invite" toggle="tooltip" data-placement="top" title="Einladungen Verschicken"><span class="glyphicon glyphicon-envelope" ></span></button>
		<a href="/edit"><button class="btn  btn-default tool" data-toggle="tooltip" data-placement="top" title="Studie Bearbeiten"><span class="glyphicon glyphicon-pencil"></span> </button></a>

	</div>

</div>

<div class="row">
	<div class="col-sm-3"><b>Gestenerkennung II</b></div>
	<div class="col-sm-2"><span class="glyphicon glyphicon-user"></span> 2 Teilnahmen 
	</div>
	
	<div class="col-sm-3">
<span class="glyphicon glyphicon-user"></span> 5/100 angemeldet	
		
		<div class="progress">
  			<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100" style="width: 5%"></div>
    		<span class="sr-only">5% Complete (success)</span>
  		</div>
  	</div>	
  		

	<div class="col-sm-4">
		<a href="/completeStudy"><button class="btn btn-warning tool" data-toggle="tooltip" data-placement="top" title="Sessions Abschließen - 1 Neue"><span class="glyphicon glyphicon-ok"></span> </button></a>
		<a href="/completeStudy"><button class="btn btn-default tool" data-toggle="tooltip" data-placement="top" title="Kalender Anzeigen"><span class="glyphicon glyphicon-calendar"></span> </button></a>
		<button class="btn btn-default tool" data-toggle="modal" data-target=".invite" toggle="tooltip" data-placement="top" title="Einladungen Verschicken"><span class="glyphicon glyphicon-envelope" ></span></button>
		<a href="/edit"><button class="btn  btn-default tool" data-toggle="tooltip" data-placement="top" title="Studie Bearbeiten"><span class="glyphicon glyphicon-pencil"></span> </button></a>

	</div>

</div>
<h4>Abgeschlossene Studien <span class="label label-default">3</span></h4>
<hr>






<div class="row">  <!-- abgeschlossene studie -->
	<div class="col-sm-4"><b>Multitasking I</b></div>
	<div class="col-sm-4"><span class="glyphicon glyphicon-user"></span> 30 Teilnahmen </div>	
	<div class="col-sm-3 col-sm-offset-1">
		<a href="/completeStudy"><button class="btn   btn-default tool" data-toggle="tooltip" data-placement="top" title="Sessions Anzeigen"><span class="glyphicon glyphicon-ok"></span> </button></a>
		<a href="/completeStudy"><button class="btn  btn-default tool" data-toggle="tooltip" data-placement="top" title="Kalender Anzeigen"><span class="glyphicon glyphicon-calendar"></span> </button></a>
	
		<a href="/edit"><button class="btn  btn-default tool" data-toggle="tooltip" data-placement="top" title="Studie Bearbeiten"><span class="glyphicon glyphicon-pencil"></span> </button></a>
	</div>
</div>    <!-- / abgeschlossene studie -->



<div class="row">  <!-- abgeschlossene studie -->
	<div class="col-sm-4"><b>Gestenerkennung I</b></div>
	<div class="col-sm-4"><span class="glyphicon glyphicon-user"></span> 30 Teilnahmen </div>	
	<div class="col-sm-3 col-sm-offset-1">
		<a href="/completeStudy"><button class="btn  btn-default tool" data-toggle="tooltip" data-placement="top" title="Sessions Anzeigen"><span class="glyphicon glyphicon-ok"></span> </button></a>
		<a href="/completeStudy"><button class="btn  btn-default tool" data-toggle="tooltip" data-placement="top" title="Kalender Anzeigen"><span class="glyphicon glyphicon-calendar"></span> </button></a>
	
		<a href="/edit"><button class="btn  btn-default tool" data-toggle="tooltip" data-placement="top" title="Studie Bearbeiten"><span class="glyphicon glyphicon-pencil"></span> </button></a>
	</div>
</div>    <!-- / abgeschlossene studie -->



<div class="row">  <!-- abgeschlossene studie -->
	<div class="col-sm-4"><b>Reaktionsfähigkeit I</b></div>
	<div class="col-sm-4"><span class="glyphicon glyphicon-user"></span> 58 Teilnahmen </div>	
	<div class="col-sm-3 col-sm-offset-1">
		<a href="/completeStudy"><button class="btn  btn-default tool" data-toggle="tooltip" data-placement="top" title="Sessions Anzeigen"><span class="glyphicon glyphicon-ok"></span> </button></a>
		<a href="/completeStudy"><button class="btn  btn-default tool" data-toggle="tooltip" data-placement="top" title="Kalender Anzeigen"><span class="glyphicon glyphicon-calendar"></span> </button></a>
	
		<a href="/edit"><button class="btn  btn-default tool" data-toggle="tooltip" data-placement="top" title="Studie Bearbeiten"><span class="glyphicon glyphicon-pencil"></span> </button></a>
	</div>
</div>    <!-- / abgeschlossene studie -->



<div class="row">  <!-- abgeschlossene studie -->
	<div class="col-sm-4"><b>Reaktionsfähigkeit II</b></div>
	<div class="col-sm-4"><span class="glyphicon glyphicon-user"></span> 30 Teilnahmen </div>	
	<div class="col-sm-3 col-sm-offset-1">
		<a href="/completeStudy"><button class="btn  btn-default tool" data-toggle="tooltip" data-placement="top" title="Sessions Anzeigen"><span class="glyphicon glyphicon-ok"></span> </button></a>
		<a href="/completeStudy"><button class="btn  btn-default tool" data-toggle="tooltip" data-placement="top" title="Kalender Anzeigen"><span class="glyphicon glyphicon-calendar"></span> </button></a>
	
		<a href="/edit"><button class="btn  btn-default tool" data-toggle="tooltip" data-placement="top" title="Studie Bearbeiten"><span class="glyphicon glyphicon-pencil"></span> </button></a>
	</div>
</div>    <!-- / abgeschlossene studie -->







<script type="text/javascript"> $(".tool").tooltip({trigger: 'hover'}) </script>





<!-- Large modal -->

<div class="modal fade invite" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
 <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Email Einladungen</h4>
      </div>
      <div class="modal-body">
        <p>Für die Studie <b>Multitasking I</b> haben sie schon <b>2</b> mal Email Einladungen Verschickt</p>
        <p>Die Filterkriterien der Probanden sind unter Studie Bearbeiten.</p>
        <p><b>764 Email Einladungen</b> für diese Studie bisher versendet.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Zurück</button>
        <button type="button" class="btn btn-primary">Nochmals Verschicken</button>
      </div>    </div>
  </div>
</div><!-- /Modal -->

}