@(name: String, target: String)

@if(target == "user") {
	@for(u <- User.byName(name)) {
	<div class="row" id="prob">
			<div class="col-xs-9">@u.name</div>
			<div class="col-xs-3">
				<button type="button" class="btn btn-primary addUser" id="@u.id" data-user-name="@u.name"><span class="glyphicon glyphicon-plus"></span></button>
			</div>
	</div>
	}
} else {
	@for(u <- User.experimenterByName(name)) {
	<div class="row" id="prob">
			<div class="col-xs-9">@u.name</div>
			<div class="col-xs-3">
				<button type="button" class="btn btn-primary addExp" id="@u.id" data-user-name="@u.name"><span class="glyphicon glyphicon-plus"></span></button>
			</div>
	</div>
	}
}
