
/* General */
body {
  padding: 5em .5em 2em .5em;
}

.table > tbody > tr > td{
	border: none;
}

.nobm {
	margin-bottom: 0px!important;
}

section {
    padding-top: 20px;
}

.mt5 {
  margin-top: 5px;
}

/* Toms Sonderklassen */

.admin_map1{
width:50%;
height:100%;

}

#map-canvas {
       /* height: 100%;*/
        width:500px;
        height:300px;
        margin: 0px;
        padding: 0px
      }
     

      
    .building-name{
        font-family: Roboto;
        border-color: #4d90fe;
        margin-left: -1px;
        padding-left: 14px;  /* Regular padding-left + 1. */
        width: 301px;
    }
        
      
      .pac-container {
        font-family: Roboto;
        z-index: 10000 !important;
      }

      #type-selector {
        color: #fff;
        background-color: #4d90fe;
        padding: 5px 11px 0px 11px;
      }

      #type-selector label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }


.progress_textCentered{
text-align:center;
}

.progress-value {
position:absolute;
display:block;
width:100%;
}

.glyphicon-group{
background:  url("/assets/images/glyphicons_043_group.png");
}

.buttonPaddingLeft{
padding-left:38px;
}

#map_canvas{

	width:560px;
	height:400px;

}

#map-canvas{

	width:560px;
	height:400px;

}

.desc-padding{
margin-top:1.5em;

}


/* Ende Toms Sonderklassen*/


/* mitch zusatzklassen*/

/* fix fuer zentrierte textelemente in den columns vs buttons

Alternative: Button 5px hochschieben... aber kp wie das vll in der calfunktion was verzockt...
 */
.mt5 {
	Margin-top:5px;
}
.mt15 {
	Margin-top:15px;
}
.mb10 {
	margin-top:-6.5px;
}

td {
	text-align: centre!important;
	padding: 2px!important;
	text-align: center;
}

.ghover:hover {
	background-color: #eee;
	cursor: pointer;
}

/* Password. */

.is0{background:url(../images/progressImg1.png) no-repeat 0 0;width:138px;height:7px;}
.is10{background-position:0 -7px;}
.is20{background-position:0 -14px;}
.is30{background-position:0 -21px;}
.is40{background-position:0 -28px;}
.is50{background-position:0 -35px;}
.is60{background-position:0 -42px;}
.is70{background-position:0 -49px;}
.is80{background-position:0 -56px;}
.is90{background-position:0 -63px;}
.is100{background-position:0 -70px;}

#passwordStrengthDiv, #passwordStrengthDiv2 {
    float:left;
}

.pointer {
    cursor:pointer;
}


.navbar-fixed-top {
background:  url("/assets/images/header_background.gif");
}


.navbar-fixed-top .container {
background: url("/assets/images/header_signet.jpg") no-repeat top right;
}

.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover {
	color: #c1d6f3;
}	
 .navbar-default .navbar-brand:hover {
	 color:white
 }
.navbar-default .navbar-nav>li>a {
	color:white;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-nav .active, .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
	color: white;
	background: rgba(255, 255, 255, .1);
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
		background: rgba(255, 255, 255, .2);
		color:white
}
.navbar-nav .badge {
background: #20416e;
}
.navbar-collapse.in {
	background:none
}

.form-signin .form-signin-heading, .form-signin .checkbox {
margin-bottom: .8em;
}


/* in der vorlage aber nicht relativ... ???
.container .jumbotron {
padding-left: 60px;
padding-right: 60px;
}
*/

.container_signin {

width:15em;
}

.row {
margin-bottom: 1.5em
}

.tab-content {
	padding-top:1em
}

.container .myStudies_ListView{

	padding-top:2em;
}

.inline select, .inline input {
	width: auto;
	display: inline
}
.modal-header .pull-right {
	margin-right: 1em
}
.page-header, .page-header h2 {
	margin-top:0
}
.checkbox input {
	height:auto
}
.text-right button {
	margin-left:1em
}

