
/* General */
body {
  padding: 5em .5em 2em .5em;
}


section {
    padding-top: 20px;
}


/* mitch zusatzklassen*/

/* fix fuer zentrierte textelemente in den columns vs buttons

Alternative: Button 5px hochschieben... aber kp wie das vll in der calfunktion was verzockt...
 */
.mt5 {
	Margin-top:5px;
}
.mt15 {
	Margin-top:15px;
}
.mb10 {
	margin-top:-6.5px;
}

td {
	border: none!important;
	text-align: centre!important;
	padding: 2px!important;
	text-align: center;
}

.ghover:hover {
	background-color: #eee;
	cursor: pointer;
}

/* Password. */

.is0{background:url(../images/progressImg1.png) no-repeat 0 0;width:138px;height:7px;}
.is10{background-position:0 -7px;}
.is20{background-position:0 -14px;}
.is30{background-position:0 -21px;}
.is40{background-position:0 -28px;}
.is50{background-position:0 -35px;}
.is60{background-position:0 -42px;}
.is70{background-position:0 -49px;}
.is80{background-position:0 -56px;}
.is90{background-position:0 -63px;}
.is100{background-position:0 -70px;}

#passwordStrengthDiv, #passwordStrengthDiv2 {
    float:left;
}

.pointer {
    cursor:pointer;
}


.navbar-fixed-top {
background:  url("/assets/images/header_background.gif");
}


.navbar-fixed-top .container {
background: url("/assets/images/header_signet.jpg") no-repeat top right;
}

.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover {
	color: #c1d6f3;
}	
 .navbar-default .navbar-brand:hover {
	 color:white
 }
.navbar-default .navbar-nav>li>a {
	color:white;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-nav .active, .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
	color: white;
	background: rgba(255, 255, 255, .1);
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
		background: rgba(255, 255, 255, .2);
		color:white
}
.navbar-nav .badge {
background: #20416e;
}
.navbar-collapse.in {
	background:none
}

.form-signin .form-signin-heading, .form-signin .checkbox {
margin-bottom: .8em;
}


/* in der vorlage aber nicht relativ... ???
.container .jumbotron {
padding-left: 60px;
padding-right: 60px;
}
*/

.container_signin {

width:15em;
}

.row {
margin-bottom: 1.5em
}

.tab-content {
	padding-top:1em
}

.container .myStudies_ListView{

	padding-top:5em;
}

table.calendar tr td, table.calendar tr th {
	padding: 0px 5px;
}

table.calendar tr th {
	padding: 5px;
	vertical-align: middle;
text-align: center;
}
table.calendar tr td:nth-child(1) {
	border-right:1px solid #ccc;
}
table.calendar tbody tr td {
	border-right:5px solid white
}
table.calendar tbody tr:nth-child(4n+1) td {
	border-top-width: 2px;
}
table.calendar tbody tr:nth-child(2n+2) td {
	border-top-color: #F5F5F5;
}
.open {
display:none;
position:absolute; border: 2px solid #ccc; z-index:10000;height:40px; width: 80px; border-radius:5px;padding:4px;color:#999;cursor:pointer
}

.saved {
display:none;
position:absolute; background: #428bca; z-index:10000;height:40px; width: 80px; border-radius:5px;padding:0px 3px; color: white
}