@(loginForm: Form[Application.Login])

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) }

<div class='container_signin container'>
<ul class='nav nav-tabs'>
<li class='active'>
<a data-toggle="tab" href="#tab-ldap">Student</a>
</li>
<li>
<a data-toggle="tab" href="#tab-signin">Standard</a>
</li>
</ul>
<div class='tab-content'>
<div class='tab-pane active' id='tab-ldap'>
@form(routes.Application.authenticate(), 'class -> "form") {
 <fieldset >
        @inputText(
            loginForm("user"),
            'placeholder -> "s12345",
            '_label -> "Novell-Kennung",
            '_help -> "",
            'class -> "form-control",
            'autofocus -> 1
        )
        @inputPassword(
            loginForm("password"),
            '_label -> "Passwort",
            '_help -> "",
            'class -> "form-control"
        )
    </fieldset>
<br>
<div class="form-actions">
    <!-- class="btn btn-lg btn-primary btn-block" -->
       <!--   <input type="submit" class="btn btn-primary" value="@Messages("login.login")">-->
        <a href="/admin" class="btn btn-primary">Login</a>
        
    </div>
}
</div>
<div class='tab-pane' id='tab-signin'>
@form(routes.Application.authenticate(), 'class -> "form") {
 <fieldset >
        @inputText(
            loginForm("user"),
            'placeholder -> "E-Mail",
            '_label -> "E-Mail",
            'class -> "form-control",
			'_help -> "",
            'required -> None
        )
        @inputPassword(
            loginForm("password"),
            '_label -> "Passwort",
			'_help -> "",
            'class -> "form-control"
        )
        @checkbox(
        	loginForm("checkbox"),
            '_label -> "Erinnern?",
            '_help -> "",
            'class -> "form-control"	
        )
    </fieldset>
<br>
<div class="form-actions">
    <!-- class="btn btn-lg btn-primary btn-block" -->
        <input type="submit" class="btn btn-primary" value="@Messages("login.login")">
    </div>
}
</div>
<div>
<hr>
<p>
<span class='light'>Noch kein Konto?</span>
<a href="/register">Registrieren</a>
</p>
</div>


</div>
</div>




    @if(loginForm.hasGlobalErrors) {
        <p class="error">
            <span class="label label-danger">@loginForm.globalError.message</span>
        </p>
    }

   

</div>
