@(user: User = null, scripts: Html = Html(""), navbar: String = "proband")(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>@Messages("title")</title>
        
        <!--sehr wichtig, damit wir auch umlaute haben ;)!!! -->
        <meta charset="utf-8"/>
        
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" media="screen" href="/assets/stylesheets/main.css">
        	<script type="text/javascript" src='@routes.Application.javascriptRoutes()'></script>
     
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
		<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
		
 @scripts
    </head>
    <body>

       <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="border: 0;box-shadow:0 0px 4px 0px #000">
	<div class="container"> 
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
			<a class="navbar-brand" href="/">Probandensystem</a> </div>
		
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav" id="mainNavbar">
				@if(navbar == "proband") {
				<li><a href="@routes.Proband.registered()">Angemeldet <span class="badge">3</span></a></li>
				<li><a href="@routes.Proband.available()">Verfügbar <span class="badge">4</span></a></li>
				<li><a href="@routes.Proband.completed()">Abgeschlossen <span class="badge">3,5</span></a></li>
				} else {
					@if(navbar == "admin") {
						<li><a href="/admin">Übersicht</a></li>
						<li><a href="/allStudies">Studien <span class="badge">@User.allStudies()</span></a></li>
						<li><a href="/user">Benutzer <span class="badge">@User.allUsers()</span></a></li>
						<li><a href="/lab">Labore <span class="badge">@Room.allRooms()</span></a></li>
					} else {
						@if(navbar == "experimenter") {
						<li><a href="/myStudies">Meine Studien <span class="badge">3</span></a></li>
						<li><a href="/create"><span class="glyphicon glyphicon-plus"></span> Neue Studie</a></li>
					} else {

					}
				}
				}
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-cog"></span> <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="/konto"><span class="glyphicon glyphicon-user"></span> Konto</a></li>
						<li class="divider"></li>
						<li><a href="@routes.Application.logout()">
						<span class="glyphicon glyphicon-off"></span> Abmelden</a></li>
					</ul>
				</li>
			</ul>
		</div>
		<!-- /.navbar-collapse --> 
	</div>
</nav>
		
	</div>
            </div>
        </div>

        <div class="container">
                @content
        </div>

        <hr>
        <div class="footer text-center">
            <div>
                Institut für Mensch-Computer-Medien | Universität Würzburg
            </div>
        </div>
        
    </body>
    <script type="text/javascript">
 
    if(document.location.pathname ==  '/registered') 
    	$('#mainNavbar li:nth-child(1)').addClass('active');
    else if(document.location.pathname ==  '/available') 
    	$('#mainNavbar li:nth-child(2)').addClass('active');
	else if(document.location.pathname ==  '/completed') 
    	$('#mainNavbar li:nth-child(3)').addClass('active');

    else if(document.location.pathname ==  '/admin') 
    	$('#mainNavbar li:nth-child(1)').addClass('active');
	else if(document.location.pathname ==  '/allStudies') 
    	$('#mainNavbar li:nth-child(2)').addClass('active');
    else if(document.location.pathname ==  '/user') 
    	$('#mainNavbar li:nth-child(3)').addClass('active');
    else if(document.location.pathname ==  '/lab') 
    	$('#mainNavbar li:nth-child(4)').addClass('active');
    else if(document.location.pathname ==  '/admin_edit') 
        $('#mainNavbar li:nth-child(2)').addClass('active');

    else if(document.location.pathname ==  '/myStudies') 
    	$('#mainNavbar li:nth-child(1)').addClass('active');
      else if(document.location.pathname ==  '/completeStudy') 
        $('#mainNavbar li:nth-child(1)').addClass('active');
    else if(document.location.pathname ==  '/create') 
    	$('#mainNavbar li:nth-child(2)').addClass('active');
    else if(document.location.pathname ==  '/edit') 
    	$('#mainNavbar li:nth-child(1)').addClass('active');

    </script>
</html>
